<!-- <div class="x-logobar row " >
<div class="pony"><img src="https://www.freepnglogos.com/uploads/little-pony-png/little-pony-release-november-the-shillong-6.png" height="75" ></div>
  <div class="container-fluid pony"><img class="center-block img-responsive" src="https://live.staticflickr.com/65535/51639936281_88fbb6c452_z.jpg " height="120px" ></div>
  <div class="pony"><img src="https://www.freepnglogos.com/uploads/little-pony-png/little-pony-release-november-the-shillong-6.png" height="75" ></div>
</div> -->



      <ul class="nav nav-pills nav-fill p-1">
        <li class="nav-item">
          <a class="nav-link home-link"  routerLink='/home'  [routerLinkActive]="['active', 'btn-primary']">Violet Marketplace
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink='/home' [routerLinkActive]="['active', 'btn-primary']">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink='/crypto' [routerLinkActive]="['active', 'btn-primary']">Crypto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/about' [routerLinkActive]="['active', 'btn-primary']">About Us</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <a class="nav-link" routerLink='/login' [routerLinkActive]="['active', 'btn-primary']">Login</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <a class="nav-link" routerLink='/register' [routerLinkActive]="['active', 'btn-primary']">Register Account</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" (click)="logout()" [routerLinkActive]="['active', 'btn-primary']">Logout</a>
        </li>
        <li class="nav-item user-pfp" *ngIf="loggedIn()">
          <a class="nav-link"  routerLink='/user/{{username}}'  [routerLinkActive]="['active', 'btn-primary']">
            <img src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg" alt="Logo" style="width:30px; margin-top: -3px;" class="rounded-pill" color="white"> {{username}}'s profile
          </a>
        </li>
      </ul>

<script src="https://use.fontawesome.com/6f23f1888e.js"></script>
