.navbar {
  background-color: rgb(114, 0, 104) !important;
   margin-inline: 15px;
   padding-right: 5px;
   white-space: nowrap;
 }
 .btn-primary {
  color: rgb(255, 255, 255) !important;
  background-color: violet !important;
  border-radius: 18px;
  border: none;
}

 .navbar .form-inline {
  display: inline-block;

}

.navbar .navbar-brand {
  padding-left: 0;
  font-size: 20px;
  padding-right: 50px;
}

.nav-item {
  padding-inline: 20px !important;
}
.navbar .btn-primary:hover, .navbar .btn-primary:focus {

  background: #fff !important;
}



 /* .navbar-custom {
	background-color: rgb(114, 0, 104);
  }

  body {

	  font-family: 'Varela Round', sans-serif;
	background-color: lightblue;
	margin-right: -15px;
  }
  .form-control {
	  box-shadow: none;
	  font-weight: normal;
	  font-size: 13px;
  }
  .navbar {
	  background: #fff;
	  padding-left: 16px;
	  padding-right: 16px;
	  border-bottom: 1px solid #dfe3e8;
	  border-radius: 0;
  }
  .nav-link img {
	  border-radius: 50%;
	  width: 36px;
	  height: 36px;
	  margin: -8px 0;
	  float: left;
	  margin-right: 10px;
  }
  .navbar .navbar-brand {
	  padding-left: 0;
	  font-size: 20px;
	  padding-right: 50px;
  }
  .navbar .navbar-brand b {
	  color: #33cabb;
  }
  .navbar .form-inline {
	  display: inline-block;
  }
  .navbar a {
	  color: #888;
	  font-size: 15px;
  }
  .search-box {
	  position: relative;
  }
  .search-box input {
	  padding-right: 35px;
	  border-color: #dfe3e8;
	  border-radius: 4px !important;
	  box-shadow: none
  }
  .search-box .input-group-text {
	  min-width: 35px;
	  border: none;
	  background: transparent;
	  position: absolute;
	  right: 0;
	  z-index: 9;
	  padding: 7px;
	  height: 100%;
  }
  .search-box i {
	  color: #a0a5b1;
	  font-size: 19px;
  }
  .navbar .sign-up-btn {
	  min-width: 110px;
	  max-height: 36px;
	padding: 3px;
  }
  .navbar .dropdown-menu {
	  color: #999;
	  font-weight: normal;
	  border-radius: 1px;
	  border-color: #e5e5e5;
	  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  }
  .navbar a, .navbar a:active {
	  color: #888;
	  padding: 8px 20px;
	  background: transparent;
	  line-height: normal;
  }
  .navbar .navbar-form {
	  border: none;
  }
  .navbar .action-form {
	  width: 280px;
	  padding: 20px;
	  left: auto;
	  right: 0;
	  font-size: 14px;
  }
  .navbar .action-form a {
	  color: #33cabb;
	  padding: 0 !important;
	  font-size: 14px;
  }
  .navbar .action-form .hint-text {
	  text-align: center;
	  margin-bottom: 15px;
	  font-size: 13px;
  }
  .navbar .btn-primary, .navbar .btn-primary:active {
	  color: #fff;
	  background: #33cabb !important;
	  border: none;
  }
  .navbar .btn-primary:hover, .navbar .btn-primary:focus {
	  color: #fff;
	  background: #31bfb1 !important;
  }
  .navbar .social-btn .btn, .navbar .social-btn .btn:hover {
	  color: #fff;
	  margin: 0;
	  padding: 0 !important;
	  font-size: 13px;
	  border: none;
	  transition: all 0.4s;
	  text-align: center;
	  line-height: 34px;
	  width: 47%;
	  text-decoration: none;
  }
  .navbar .social-btn .facebook-btn {
	  background: #507cc0;
  }
  .navbar .social-btn .facebook-btn:hover {
	  background: #4676bd;
  }
  .navbar .social-btn .twitter-btn {
	  background: #64ccf1;
  }
  .navbar .social-btn .twitter-btn:hover {
	  background: #4ec7ef;
  }
  .navbar .social-btn .btn i {
	  margin-right: 5px;
	  font-size: 16px;
	  position: relative;
	  top: 2px;
  }
  .or-seperator {
	  margin-top: 32px;
	  text-align: center;
	  border-top: 1px solid #e0e0e0;
  }
  .or-seperator b {
	  color: #666;
	  padding: 0 8px;
	  width: 30px;
	  height: 30px;
	  font-size: 13px;
	  text-align: center;
	  line-height: 26px;
	  background: #fff;
	  display: inline-block;
	  border: 1px solid #e0e0e0;
	  border-radius: 50%;
	  position: relative;
	  top: -15px;
	  z-index: 1;
  }
  .navbar .action-buttons .dropdown-toggle::after {
	  display: none;
  }
  .form-check-label input {
	  position: relative;
	  top: 1px;
  }
  @media (min-width: 1200px){
	  .form-inline .input-group {
		  width: 300px;
		  margin-left: 30px;
	  }
  }
  @media (max-width: 768px){
	  .navbar .dropdown-menu.action-form {
		  width: 100%;
		  padding: 10px 15px;
		  background: transparent;
		  border: none;
	  }
	  .navbar .form-inline {
		  display: block;
	  }
	  .navbar .input-group {
		  width: 100%;
	  }
  }

  .list-group-item {
	text-align:center;
  }

  a.list-group-item:hover{
	background:violet;
	}

  .login-form {
	width: 340px;
	margin: 30px auto;
	font-size: 15px;
  }
  .login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
  }
  .login-form h2 {
	margin: 0 0 15px;
  }
  .login-form .hint-text {
	color: #777;
	padding-bottom: 15px;
	text-align: center;
	font-size: 13px;
  }
  .form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
  }
  .login-btn {
	font-size: 15px;
	font-weight: bold;
  }
  .or-seperator {
	margin: 20px 0 10px;
	text-align: center;
	border-top: 1px solid #ccc;
  }
  .or-seperator i {
	padding: 0 10px;
	background: #f7f7f7;
	position: relative;
	top: -11px;
	z-index: 1;
  }
  .social-btn .btn {
	margin: 10px 0;
	font-size: 15px;
	text-align: left;
	line-height: 24px;
  }
  .social-btn .btn i {
	float: left;
	margin: 4px 15px  0 5px;
	min-width: 15px;
  }
  .input-group-addon .fa{
	font-size: 18px;
  } */


  .x-logobar {
	background-color: #1A062A;
	display: inline-block;

	display: flex; justify-content: center;

  }

  .pony {
	display: flex; justify-content: center;
  }

  /* background: #1D092D; */
/*
  .btn-primary {
	color: rgb(255, 255, 255);
	background-color: violet;
	border-radius: 18px;
	border: none;
  }

  .navbar-nav.navbar-center {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
  } */
