<div class="x-logobar row " >
  <!-- <div class="pony"><img src="https://www.freepnglogos.com/uploads/little-pony-png/little-pony-release-november-the-shillong-6.png" height="75" ></div> -->
  <div class="container-fluid pony"><img class="center-block img-responsive" src="https://live.staticflickr.com/65535/51639936281_88fbb6c452_z.jpg " height="120px" ></div>
  <div class="pony"><img src="https://www.freepnglogos.com/uploads/little-pony-png/little-pony-release-november-the-shillong-6.png" height="75" ></div>
</div>




<!-- ////////////////////////////////////////////////////////////////// -->
<nav class="

navbar-custom navbar-expand-sm .navbar-dark justify-content-center">
  <div class="container-fluid ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
<!-- ////////////////////////////////////////////////////////////////// -->
    <div class="collapse navbar-collapse" id="mynavbar">
      <a class="navbar-brand" href="#">
        <img src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg" alt="Logo" style="width:40px;" class="rounded-pill">
      </a>

<!-- ////////////NFTMODAL//////////////// -->
  <button type="button" class="btn btn-primary m-1 " data-bs-toggle="modal" data-bs-target="#NFTModal">
    NFT
  </button>

  <!-- The Modal -->
<div class="modal" id="NFTModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title ">NFT</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>


      <!-- Modal body -->
      <div class="modal-body">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Collections</a>
          <a href="#" class="list-group-item list-group-item-action">Hot</a>
          <a href="#" class="list-group-item list-group-item-action">New</a>
          <a href="#" class="list-group-item list-group-item-action">Drops</a>
          <a href="#" class="list-group-item list-group-item-action">Buy Now</a>
          <a href="#" class="list-group-item list-group-item-action">Auctions</a><hr>
          <a href="#" class="list-group-item list-group-item-action">Create NFT</a>
        </div>
      </div>



      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- ////////////CRYPTOMODAL//////////////// -->
  <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#CryptoModal">
    Crypto
  </button>

<!-- The Modal -->
<div class="modal" id="CryptoModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Crypto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->

      <div class="modal-body">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Buy</a>
          <a href="#" class="list-group-item list-group-item-action">Sell</a>
          <a href="#" class="list-group-item list-group-item-action">Trade</a>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- ////////////MOREMODAL//////////////// -->
<div>
  <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#MoreModal">
    More...
  </button>
</div>

<div class="modal" id="MoreModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">More...</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Events</a>
          <a href="#" class="list-group-item list-group-item-action">About Us</a>
          <a href="#" class="list-group-item list-group-item-action">E-newsletter</a>
        </div>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- //////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////EndOfModal////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////// -->



<!-- ////////////////////////////////////////////////////////////////// -->
<form class="d-flex" style="width: 50%"  navbar-nav navbar-center>
        <input class="form-control me-1 m-1 " type="text" placeholder="Search">
        <button class="btn btn-primary m-1" type="button">Search</button>
      </form>
<!-- ////////////////////////////////////////////////////////////////// -->
<!-- ////////////SIGNUPMODAL//////////////// -->
<div>
  <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#SignUpModal ">
   Sign Up
  </button>
</div>

<div class="modal" id="SignUpModal">
  <app-register></app-register>
</div>
<!-- ////////////////////////////LOGINMODAL////////////////////////////////////// -->
<div>
  <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#loginModal">
   Login
  </button>
</div>

<div class="modal" id="loginModal">
  <app-login></app-login>
</div>

<!-- ////////////////////////////USERMODAL////////////////////////////////////// -->




<!--/////////////////////////////CLOSING TAGS/////////////////////////////////////-->
      </div>
    </div>



</nav>



<script src="https://use.fontawesome.com/6f23f1888e.js"></script>
