ul {
  list-style-type: none;
}

li {
  padding-bottom: -20px;
}

.home-link {
  padding-bottom: -20px !important;
}


.nav-item {
  max-width: 400px;
}

.nav {
  background-color: rgb(114, 0, 104) !important;
   white-space: nowrap;
  max-height: 50px;
 }
 .btn-primary {
  color: rgb(255, 255, 255) !important;
  background-color: violet !important;
  border-radius: 8px;
  max-height: 40px;
  border: none;
}

 .navbar .form-inline {
  display: inline-block;

}



.nav-item {
  padding-inline: 20px !important;
}
.navbar:hover, .navbar:focus {

  font-weight: 600;
  color:blueviolet;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-top: -6px;
}

 /* .navbar-custom {
	background-color: rgb(114, 0, 104);
  }

  body {

	  font-family: 'Varela Round', sans-serif;
	background-color: lightblue;
	margin-right: -15px;
  }
  .form-control {
	  box-shadow: none;
	  font-weight: normal;
	  font-size: 13px;
  }
  .navbar {
	  background: #fff;
	  padding-left: 16px;
	  padding-right: 16px;
	  border-bottom: 1px solid #dfe3e8;
	  border-radius: 0;
  } */
  .nav-link img {
	  border-radius: 50%;
	  margin-bottom: 8px 0;
	  float: left;
  }
  .navbar .navbar-brand {
	  padding-left: 0;
	  font-size: 20px;
  }
  .navbar .navbar-brand b {
	  color: #33cabb;
  }
  .navbar .form-inline {
	  display: inline-block;
  }
  .navbar a {
	  color: #888;
	  font-size: 15px;
  }


  @media (max-width: 768px){
	  .navbar .dropdown-menu.action-form {
		  width: 100%;
		  padding: 10px 15px;
		  background: transparent;
		  border: none;
	  }
	  .navbar .form-inline {
		  display: block;
	  }
	  .navbar .input-group {
		  width: 100%;
	  }
  }

  .x-logobar {
	background-color: #1A062A;
	display: inline-block;

	display: flex; justify-content: center;

  }

  .pony {
	display: flex; justify-content: center;
  }
