@import '/org/src/scss/utils/variables';
@import '/org/src/scss/utils/mixins';

.tokens-container {
  @include flex-align-justify-direction($justify: flex-start, $direction: row);
  position: relative;
  width: 92.5%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: .5rem;
  scroll-behavior: auto;
  margin: auto;
  margin-right: 0;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  background: rgba(122, 122, 122, 0.2);
  border-radius: 2px;
  padding-inline: 2.5rem;
  transform: scale(1.15);

  .scroll-button {
    position: fixed;
    top: 0%;
    width: 3em;
    height: 100%;
    padding-top: 1em;
    z-index: 2;
    opacity: .45;
    cursor: pointer;
  }

  .scroll-button-left {
    background: linear-gradient(to left, rgb(0, 0, 0, .3), rgba(0, 0, 0, .6));
    left: 0;
  }

  .scroll-button-right {
    background: linear-gradient(to right, rgb(0, 0, 0, .3), rgba(0, 0, 0, .6));
    right: 0;
  }

}