<mat-toolbar class="mobile-navbar">
  <div class="brand-container"><svg-icon class="brand" src="/assets/logos/matrix_vm_logo.svg"></svg-icon></div>
  <mat-icon class="menu-icon" fontIcon="menu" (click)="toggleMenu()">menu</mat-icon>
</mat-toolbar>

<div class="menu-dropdown" *ngIf="menuOpen">
  <div class="nav-links">
    <div (click)="navigateToHome()" class="nav-tile" matRipple matRippleColor="rgb(54, 53, 172, .5)">
      Home
    </div>
    <mat-divider></mat-divider>
    <div (click)="navigateToAboutUs()" class="nav-tile" matRipple matRippleColor="rgb(54, 53, 172, .5)">
      About Us
    </div>
    <mat-divider></mat-divider>
    <div (click)="openRegisterDialog()" class="nav-tile" matRipple matRippleColor="rgb(54, 53, 172, .5)"
      *ngIf="!(isLoggedIn$ | async)">
      Register
    </div>
    <mat-divider></mat-divider>
    <div (click)="openLoginDialog()" class="nav-tile" matRipple matRippleColor="rgb(54, 53, 172, .5)"
      *ngIf="!(isLoggedIn$ | async)">
      Login
    </div>
    <mat-divider></mat-divider>
    <div (click)="navigateToAccount()" class="nav-tile" matRipple matRippleColor="rgb(54, 53, 172, .5)"
      *ngIf="(isLoggedIn$ | async)">
      My Account
    </div>
    <mat-divider></mat-divider>
    <div (click)="getLogoutAction()" class="nav-tile" matRipple matRippleColor="rgb(54, 53, 172, .5)"
      *ngIf="(isLoggedIn$ | async)">
      Logout
    </div>
  </div>
</div>