a {
  text-decoration: none;
  position: relative;
  margin-inline: auto;
  opacity: .6;
  font-size: smaller;

  &:hover {
    opacity: .9
  }
}

.footer {
  position: fixed;
  width: 100vw;
  height: 3.5em;
  left: 0px;
  bottom: 0;
  background: #121111;
  border-radius: 15px 15px 0px 0px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: 300;

}