<section class="sidenav-container gradient-light">
  <nav class="navbar">
    <img class="user-image" src="https://i.imgur.com/B0lPG6X.jpg">

    <ul class="nav-items">
      <mat-divider></mat-divider>
      <!-- need to add svgs, leaving space -->
      <li class="nav-item">
        <a href="#" class="nav-link">

          <span class="link-text">wallet</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">

          <span class="link-text">tokens</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">

          <span class="link-text">transaction history</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">

          <span class="link-text">create</span>
        </a>
      </li>

      <li class="nav-item">
        <span class="icons">
          <fa-icon [icon]="faGithub" size="2x"></fa-icon>
          <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
          <fa-icon [icon]="faFile" size="2x"></fa-icon>
        </span>
      </li>
    </ul>
  </nav>
</section>