@import '/src/scss/utils/variables';
@import '/src/scss/utils/mixins';

* {
  color: white;
  font-family: "Nunito";
}

// app-double-grad-button {
//   @include button-gradient(linear-gradient(94.53deg, rgba(213, 117, 42, 0.7) 9.1%, rgba(119, 179, 136, 0.175) 89.58%), linear-gradient(95.71deg, rgba(14, 14, 69, 0.7) 19.97%, rgba(136, 181, 223, 0.7) 85.88%), linear-gradient(93.24deg, #77B388 0.65%, #D5752A 74.14%));
// }

.top-container {
  height: auto;
  width: 100vw;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-content: center;

  .button-container {
    margin-inline: auto;
    width: 280px;
    height: 80vh;
    margin-left: 1.75em;
    position: relative; // Add this line to position the button wrappers absolutely
    z-index: 0; // Add this line to set the z-index value for the container

    .user-image {
      position: absolute;
      top: 1.5em;
      height: 13rem;
      width: 16rem;
      margin-inline: auto;
      border-radius: 6px;
    }


    // BUTTONS

    .button-wrapper {
      position: absolute;
      width: 244px;
      height: 74px;
      padding: 2px;
      border-radius: 6px;
      overflow: hidden;
      z-index: 1;
      will-change: transform;
      background-color: $primary-dark;
      box-shadow: 0 0 4px rgba(255, 255, 255, 0.746);
      margin-right: .5em;

      // BUTTONS AND BORDERS
      .tokens-button,
      .wallet-button,
      .collections-button,
      .create-button {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        outline: none;
        border: none;
        font-size: 1.4em;
        font-weight: 300 !important;
        background-size: 150% 150%;
        animation: gradient 4s linear 5s infinite;

        .glass-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 6px;
          z-index: 2;
          opacity: .8;
          padding: 0;
          margin: 0;
          background: linear-gradient(135deg, rgba(199, 199, 199, 0.303) 0%, rgba(189, 189, 189, 0.443) 100%),
            linear-gradient(90deg, rgba(0, 0, 0, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
            linear-gradient(180deg, rgba(0, 0, 0, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
            radial-gradient(circle at center, rgba(106, 106, 106, 0.15), rgba(105, 105, 105, 0.15) 70%);
        }

        .glass-wrapper::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 100%),
            radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .1) 70%);
          z-index: -1;
          border-radius: 6px;
          padding: 0;
          margin: 0;
        }

        .text-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 3;
          pointer-events: none; // Add this line to make sure the button is still clickable
          -webkit-font-smoothing: subpixel-antialiased;
          text-rendering: geometricPrecision;
        }
      }
    }
  }

  // MAIN UI

  .user-info-container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 80vh;
    position: relative;
    background: transparent;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 2.5em;
    margin-block-start: 1em;
    padding-bottom: 2em;
    // box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1), 0 4px 12px rgba(255, 255, 255, 0.1) inset, 0 0 20px rgba(255, 255, 255, 0.1) inset;
    transition: transform 0.3s ease-in-out;


    .tokens-section,
    .wallet-section,
    .collections-section,
    .create-section {
      background: rgba(149, 149, 149, 0.2);
      backdrop-filter: blur(10px);
      border-radius: 2px;
      transition: ease-out 5s;

      &:hover {
        transition: ease-out 1.5s;
        transform: scale(1.006);
      }
    }

    .tokens-section {
      width: 100%;
      height: calc(18rem + 1.25rem);
      position: absolute;
      top: 0;
      left: 0;
      transition: all ease-in-out 1s;
    }

    .wallet-section {
      width: calc(50% - 1rem);
      height: calc((80vh - (18rem + 3.5rem)) / 2);
      position: absolute;
      top: calc(18rem + 2rem);
      left: 0;
      margin-right: 2em;
    }

    .collections-section {
      width: calc(50% - 1rem);
      height: calc((80vh - (18rem + 2rem)) / 2);
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 2em;
    }

    .create-section {
      width: 50%;
      height: calc(80vh - (18rem + 2rem));
      position: absolute;
      bottom: 0;
      right: 0;
      padding-top: 2em;
    }
  }
}



// ANIMATIONS
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-fast {
  0% {
    transform: translate(90, 90);
  }

  25% {
    transform: translate(180, 180);
  }

  50% {
    transform: translate(270, 270);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveGradientBorder {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(95%) translateY(0);
  }

  50% {
    transform: translateX(95%) translateY(95%);
  }

  75% {
    transform: translateX(0) translateY(95%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

// Update the mixin in the SCSS code:
@mixin floating-animation($name, $directionX, $directionY) {
  @keyframes #{$name} {

    0%,
    100% {
      transform: translate3d(0, 0, 0);
    }

    50% {
      transform: translate3d($directionX, $directionY, 0);
    }
  }
}