<div class="top-container">
  <div class="button-container d-flex align-items-center justify-content-center">
    <img class="user-image" src="../../../../../assets/images/cortana.png">
    <div class="tokens-button-wrapper button-wrapper">
      <button routerLink="/tokens-list" mat-stroked-button class="grad-button tokens-button">
        <div class="glass-wrapper"></div>
        <div class="text-wrapper">tokens</div>
      </button>
    </div>
    <div class="wallet-button-wrapper button-wrapper">
      <button mat-stroked-button class="grad-button wallet-button">
        <div class="glass-wrapper"></div>
        <div class="text-wrapper">wallet</div>
      </button>
    </div>
    <div class="collections-button-wrapper button-wrapper">
      <button (click)="openDialog()" mat-stroked-button class="grad-button collections-button">
        <div class="glass-wrapper"></div>
        <div class="text-wrapper">update for now<br>(collections)</div>
      </button>
    </div>
    <div class="create-button-wrapper button-wrapper">
      <button mat-stroked-button class="grad-button create-button">
        <div class="glass-wrapper"></div>
        <div class="text-wrapper">create</div>
      </button>
    </div>
  </div>
  <div class="user-info-container d-flex align-items-center justify-content-center">
    <div class="tokens-section">
      <app-token-list></app-token-list>
    </div>
    <div class="wallet-section d-flex justify-space-between">
      <app-double-grad-button label="hello"></app-double-grad-button>
    </div>
    <div class="collections-section">collections</div>
    <div class="create-section">Create</div>
  </div>
</div>

<!-- <ng-container *ngFor="let button of buttons">
    <div [class]="button.wrapperClass">
      <button mat-stroked-button [class]="button.buttonClass">
        <div class="glass-wrapper"></div>
        <div class="text-wrapper">{{ button.text }}</div>
      </button>
    </div>
  </ng-container>
</div> -->
