<div @slideInTop class="login-container gradient-light d-flex flex-column align-items-center" color="primary">
  <!-- <mat-icon style="margin-top: .5em;" mat-icon-button class="close-button" (click)="closeDialog()">close</mat-icon> -->
  <form class="form-container d-flex flex-column align-items-center">

    <h2 class="login-header text-center">Welcome back! <br> Please sign in.</h2>
    <mat-form-field class="form-field">
      <mat-label>Username</mat-label>
      <input autofocus name='username' matInput [(ngModel)]="loginUser.username">
      <button class="clear" *ngIf="loginUser.username" matSuffix mat-icon-button aria-label="Clear" (click)="loginUser.username=''">
        <mat-icon [color]="'white'">clear</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input name=" password" [(ngModel)]="loginUser.password" matInput [type]="'password'">
      <button class="clear" *ngIf="loginUser.password" matSuffix mat-icon-button aria-label="Clear" (click)="loginUser.password=''">
        <mat-icon [color]="'white'">clear</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" class="submit-button" mat-raised-button color="primary" (click)="login()">
      Sign In
    </button>
    <button mat-icon-button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="socials-container d-flex justify-content-center">
      <button class="google-button social-icon" mat-button style="font-size: 32px">
        <em style="color: rgb(170, 167, 167);" class="bi bi-google"></em>
      </button>
      <button class="coinbase-button social-icon" mat-button>
        <svg-icon src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Coinbase.svg" [class]="'meta-icon'"
          [svgStyle]="{ 'fill-rule':'evenodd', 'background-color':'transparent', 'width.px': 48, 'height.px':48}"></svg-icon>
      </button>
      <button class="metamask-button social-icon" mat-button>
        <svg-icon src="https://upload.wikimedia.org/wikipedia/commons/3/36/MetaMask_Fox.svg" [class]="'metamask-icon'"
          [svgStyle]="{ 'background-color':'transparent', 'width.px':40, 'height.px':40}"></svg-icon>
      </button>
    </div>
  </form>
</div>