.sidenav-container {
  width: 15rem;
  height: 50rem;
  border-radius: 8px;
  margin: 1.5rem 0 0 2rem;
  position: sticky;
  z-index: 2;

  .navbar {
    padding: 0;
    margin: 0;

    .user-image {
      height: 13rem;
      width: 13rem;
      margin: 1.25rem;
      margin-inline: auto;
      border-radius: 6px;
    }

    .nav-items {
      color: var(--text-primary);
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
      width: 100% !important;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        flex: 1;
        list-style-type: none;

        .link-text {
          font-size: 1.4rem;
          font-weight: 300;
          color: #b6b6b6;
          transition: ease-in .25s;

          &:hover {
            transition: ease-out .5s;
            color: #ececec;
          }
        }

        .icons {
          fa-icon {
            padding-inline: 1em;
            color: #b6b6b6;
            transition: ease-in .25s;

            &:hover {
              transition: ease-out .5s;
              color: #ececec;
            }
          }
        }
      }

      li:first-of-type {
        margin-top: 2rem;
      }

      li:last-of-type {
        margin-top: 3rem;
      }

      .mat-mdc-divider {
        border-top-color: #b6b6b6;
        width: 15rem;
      }
    }
  }
}