.DS_Store
Servers
target
build
bin
.metadata
# .settings
.gradle
*.war
*.bak
*.angular
VioletMarketplace/src/main/resources/static/assets/images/*
VioletMarketplace/src/main/resources/static/assets/other_token_images/*

