@import "/src/scss/utils/mixins";
@import "/src/scss/utils/variables";
@import "/src/scss/components/forms/forms";

@include glass-effect(linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) 70%));

.register-container {
  @include bg-gradient(linear-gradient(180deg, rgba($primary-dark, 0.95), rgba($primary-light, 0.95)));

  width: 50vw;
  height: 65vh;
  border-radius: 2px;
  opacity: 0.95;

  .register-tab,
  .register-tab-container {
    height: 100%;
    animation: none !important;
    transition: none !important;
    border-radius: 2px;

    // TODO GPT says this is the only way, but
    // * need to investigate further
    &::ng-deep.mdc-tab {
      width: 17vw;
      height: 50px;
    }

    // * THIS WORKS
    // * literally cannot find another
    // * way to do this
    > ::ng-deep.mdc-tab-body-content {
      overflow: hidden !important;
      height: calc(65vh - 100px) !important;
    }
  }

  .register-form {
    height: 100%;
    border-radius: 2px;
  }

  .tab-nav-button {
    position: absolute;
    bottom: 5%;
  }

  .tab-nav-next {
    right: 5%;
  }

  .tab-nav-back {
    left: 5%;
  }
}

.dg-button-container {
  width: 50%;
  height: 70px;
  @include flex-align-justify-direction($align: flex-start, $justify: center);
  margin-top: 2em;
}

.summary-tab {
  overflow: hidden;
}

.mat-mdc-tab-group {
  background: transparent;
  border-radius: 2px;
  height: 100%;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  @include basic-precise-font();
  @include responsive-font(1.7rem, 1.9rem, 350px, 1366px);
  color: $text-secondary-dark;
}
