<mat-card class="big-token-card" *ngIf="token">
  <div class="card-front" [routerLink]="['/token/id', token.id]">
    <div class="image-wrapper">
      <img src="{{ token.tokenLocation }}" class="card-img" />
      <div class="glass-pane"></div>
    </div>
    <div class="card-details">
      <p class="card-img-title">{{ token.name }}</p>
      <p class="card-img-description">{{ token.description }}</p>
    </div>
    <mat-card-content class="content">
      <p class="token-text token-price">${{ token.price }}</p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <app-big-token-card-button buttonText="Bid" customClass="large-purchase-button large-purchase-button-bid"></app-big-token-card-button>
      <app-big-token-card-button buttonText="Buy" customClass="large-purchase-button large-purchase-button-buy"></app-big-token-card-button>
    </mat-card-actions>
  </div>
</mat-card>
