img {
  border-radius: 2px;
  background-color: white;
  padding: 0;
  width: 105%;
  transform: scale(1.0575)
}

h2 {
  font-weight: 300;
}

.card-header {
  height: 18em;
  width: 18em;
}

.card-container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;

  .card {
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=7131d6&c2=b8a5ab&gt=l&gd=dtl
    */
    background: #7131D6;
    background: linear-gradient(135deg, #B8A5AB, #7131D6);
    color: #ececec;
    width: 20rem;
    filter: grayscale(.25);
    // .mask {
    //   position: fixed;
    //   width: 20rem;
    //   opacity: .4;
    //   height: 29rem;
    // }


    .links-container {
      display: flex;
      justify-content: space-around;

      fa-icon {
        transition: ease-out .3s;
        transform: translateY(2px);
        color: #a2a2a2;

        &:hover {
          color: #471D90;
          display: inline-block;
          transition: .5s;
          transform: translateY(-2px);
        }
      }
    }
  }
}