<div class="container-fluid">
  <h2 style="color: white;">token detail landing page, work in progress</h2>





  
  <div class="sketchfab-embed-wrapper"> <iframe title="applejack" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
      src="https://sketchfab.com/models/292158b96f37400fbd47710cdb3e946e/embed?autospin=1&autostart=1&ui_theme=dark"> </iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a
        href="https://sketchfab.com/3d-models/applejack-292158b96f37400fbd47710cdb3e946e?utm_medium=embed&utm_campaign=share-popup&utm_content=292158b96f37400fbd47710cdb3e946e" target="_blank"
        style="font-weight: bold; color: #1CAAD9;"> applejack </a> by <a
        href="https://sketchfab.com/willslaunwhite?utm_medium=embed&utm_campaign=share-popup&utm_content=292158b96f37400fbd47710cdb3e946e" target="_blank" style="font-weight: bold; color: #1CAAD9;">
        willslaunwhite </a> on <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=292158b96f37400fbd47710cdb3e946e" target="_blank"
        style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>
  </div>
</div>
