@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';
@import '/src/scss/components/dialog';
@import '/src/scss/components/forms';

.register-container::before {
  @include abs-top-left;
  // cursor: pointer;
  pointer-events: none;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 0;
  margin: 0;
  border-radius: inherit;
  transition: opacity ease-in 2s;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
}

.register-container.active::before {
  background: (rgba(0, 0, 0, 1));
  opacity: 1;
}

.register-container {
  @include button-gradient(linear-gradient(180deg, rgba($primary-dark, .95), rgba($primary-light, .95)));
  width: 50vw;
  height: 55vh;
  border-radius: 2px;
  overflow: hidden;
}

// todo need to find a more correct way to do this
::ng-deep .mat-tab-label {
  padding: 0 5em !important;
}

::ng-deep .mat-form-field-label {
  transition: all ease-in 2s !important;
}