@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';
@import '/src/scss/components/dialog';
@import '/src/scss/components/forms';


.register-container {
  // gives the container its background
  @include button-gradient(linear-gradient(180deg, rgba($primary-dark, .95), rgba($primary-light, .95)));
  width: 50vw;
  height: 55vh;
  border-radius: 2px;
  overflow: hidden;

  .form-container-wrapper {
    // basic flex stylings
    @include flex-align-justify-direction($justify: center, $align: center, $direction: row);
    width: 100%;
  }
}

.grad-button {
  margin-top: -1rem;
}

.button-container {
  // width:
}
