@import "/src/scss/utils/variables";
@import "/src/scss/utils/mixins";

.token-results-container {
  background: transparent;
  width: 90%;
  margin: auto;
  margin-top: 0;
  position: relative;
  top: -1rem;

  .container-header {
    @include basic-precise-font($weight: 400);
    @include responsive-font(2.25rem, 2.5rem, 350px, 1366px);
    margin: 0;
    margin-left: 7rem;
    padding-block: 1rem;
  }

  .featured-header {
    padding-top: 2rem;
  }
}
