@import '/src/scss/utils/variables';
@import '/src/scss/utils/mixins';
// @import '/src/scss/components/tokens/big-card';

// border
.large-purchase-button-buy::before {
  @include purchase-button-divider();
  left: 0;
}


.large-purchase-button-bid::after {
  @include purchase-button-divider();
  right: 0;
}

button {
  width: 50%;
  height: 100%;
  @include basic-precise-font($size: 2.5rem, $weight: 300, $align: center);
  z-index: 2;
  margin: .2em 0;
  padding: 0;

  &:hover {
    color: $text-secondary-dark;
  }

  &.large-purchase-button-bid {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &.large-purchase-button-buy {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  &.large-purchase-button:hover {
    transition: opacity .2s;
    background-color: rgba($primary-dark, 0.85);
  }
}