@import '/src/scss/utils/variables';

.dg-button-wrapper {
  position: absolute;
  width: 244px;
  height: 74px;
  padding: 2px;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
  will-change: transform;
  background-color: $primary-dark;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.746);
  margin-right: .5em;

  .dg-button {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 1.4em;
    font-weight: 300 !important;
    color: lightgray;
    background-image: linear-gradient(85.69deg, rgba(71, 29, 144, 0.3) 1.1%, rgba(14, 14, 69, 0.3) 71.94%), linear-gradient(93.31deg, #833AB4 0%, #FD1D1D 53.39%, #FCB045 94.05%);
    background-size: 150% 150%;
    animation: gradient 8s linear 10s infinite;

    &.dg-button::before,
    .dg-button::after {
      position: absolute;
      content: '';
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      z-index: -1;
      border-radius: 6px;
      background-image: linear-gradient(to right, #34D1C8 33.56%, #FD241D 78.08%);
      background-size: 150% 100%;
      transition: all .8s ease-in-out;
      // filter: hue-rotate(15deg);
      pointer-events: none;

    }

    &:hover::before,
    :hover::after {
      transform: rotate(45deg) scale(2);
      animation-timing-function: ease-in-out;
    }

    .glass-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      z-index: 2;
      padding: 0;
      margin: 0;
      background: linear-gradient(135deg, rgba(199, 199, 199, 0.303) 0%, rgba(189, 189, 189, 0.443) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
        radial-gradient(circle at center, rgba(106, 106, 106, 0.15), rgba(105, 105, 105, 0.15) 70%);
    }

    .glass-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 100%),
        radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .1) 70%);
      z-index: -1;
      border-radius: 6px;
      padding: 0;
      margin: 0;
    }

    .text-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      pointer-events: none; // Add this line to make sure the button is still clickable
      -webkit-font-smoothing: subpixel-antialiased;
      text-rendering: geometricPrecision;
    }

  }

}

// .dg-button-wrapper {

//   .dg-button {
//     background-image: linear-gradient(88.33deg, #3635AC 0.81%, #304B7E 51.46%, #471D90 102.11%);
//   }

//   .dg-button::before {
//     background-image: linear-gradient(to right, #34D1C8 33.56%, #FD241D 78.08%);
//   }

//   .dg-button::after {
//     background-image: linear-gradient(to bottom, #34D1C8 33.56%, #FD241D 78.08%);
//   }

// }

// ANIMATIONS
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-fast {
  0% {
    transform: translate(90, 90);
  }

  25% {
    transform: translate(180, 180);
  }

  50% {
    transform: translate(270, 270);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveGradientBorder {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(95%) translateY(0);
  }

  50% {
    transform: translateX(95%) translateY(95%);
  }

  75% {
    transform: translateX(0) translateY(95%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}