<mat-card @slideInTop class="gradient-blue">
  <a routerLink="/token/id/{{ token.id }}"><img mat-card-image src="{{ token.tokenLocation }}" />
    <p class="card-img-title">{{ token.name }}</p>
    <p class="card-img-description">{{ token.description }}</p>
  </a>
  <mat-card-content class="d-flex flex-row text-align-center justify-content-center">
    <p class="token-text token-price">${{ token.price }}</p>
  </mat-card-content>
  <mat-card-actions class="actions d-flex">
    <app-token-card-button buttonText="Bid" customClass="purchase-button purchase-button-bid"></app-token-card-button>
    <app-token-card-button class="purchase-button-buy" buttonText="Buy" customClass="purchase-button purchase-button-buy"></app-token-card-button>
  </mat-card-actions>
  <div class="glass-wrapper"></div>
</mat-card>