.mat-form-field {
  line-height: 1.5;
}

.register-button {
  margin: 1.5em auto 3.5em;

  &:hover {
    transition: ease .4s;
    transform: scale(1.015);
  }
}

.container-fluid {
  border-radius: 10px;
  padding-top: 1em;
}

.card-header {
  margin-top: -.25em;
}

input {
  margin: .5em auto;
}

// CHANGES BACKGROUND OF AUTOFILL AND AUTOFILL TEXT (sort of, Chrome has issues
// when hovering over suggestions.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}