@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';

.tab-content {
  height: calc(80vh - 50px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .form-container {
    @include flex-align-justify-direction($direction: column, $justify: space-between);
    width: 70%;
    height: 80%;
    margin-inline: auto;
    margin-top: 1rem;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  .form-field {
    margin-bottom: 1rem;

    // * this works btw
    // * doesn't even bleed over
    ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
      letter-spacing: .05rem;
      top: 32px !important;
    }

  }

  .required-label,
  .text-danger {
    @include basic-precise-font();
    @include responsive-font(1.2rem, 1.6rem, 350px, 1366px);
  }


  app-warning-message {
    margin-bottom: .5rem;
  }

  .text-danger {
    color: $warning-color;
  }

  .required-label {
    color: $secondary-light;
  }


  .labels-container {
    position: relative;
    bottom: -30%;
    width: 90%;
    text-align: right;
    margin-bottom: 1rem;

    @include flex-align-justify-direction($direction: column, $justify: space-between, $align: flex-end);
  }

}
