<head>
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
    rel="stylesheet"
  />
  <link
    href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    rel="stylesheet"
  />
</head>
<!-- //////////////////////////// -->
<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">



    <div class="col">
    <div class="card h-100 shadow-sm" style="width: 20rem">

      <div class="card-header"><img class="imgsize"
          src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg"/>
      </div>

      <div class="card-body">
        <h1 class="card-title">Caleb Gardner</h1>
        <h1 class="card-title">DBA/Backend Development</h1>
      </div>

      <div class="card-footer">
        <div class="text-center my-4">
          <a href="https://www.linkedin.com/in/caleb-gardner-1972b6211/" target="_blank">
          <button class="btn btn-linkedin" style="border-radius: 12px">
            <i
              class="fab fa-linkedin"
              style="font-size: 18px; margin-right: 20px"
            ></i
            >LinkedIn
          </button></a>
        </div>
      </div>

    </div>
    </div>


  <div class="col">
    <div class="card h-100 shadow-sm" style="width: 20rem">

      <div class="card-header">
        <img class="imgsize"
          src="https://i.imgur.com/kyffIr5.png"
        />
      </div>

      <div class="card-body">
        <h1 class="card-title">Brandon Pope</h1>
        <h1 class="card-title">Scrum Master/Backend Development</h1>
      </div>

      <div class="card-footer">
        <div class="text-center my-4">
          <a href="https://www.linkedin.com/in/bptexas/" target="_blank">
          <button class="btn btn-linkedin" style="border-radius: 12px">
            <i
              class="fab fa-linkedin"
              style="font-size: 18px; margin-right: 20px"
            ></i
            >LinkedIn
          </button></a>
        </div>
      </div>

    </div>
  </div>

  <div class="col">
    <div class="card h-100 shadow-sm" style="width: 20rem">

      <div class="card-header">
        <img class="imgsize"
          src="https://i.pinimg.com/originals/2d/e8/56/2de856778a293b611e355daaa8d462a9.png"
        />
      </div>

      <div class="card-body">
        <h1 class="card-title">Dave Roberts</h1>
        <h1 class="card-title">UI/UX Frontend Development</h1>
      </div>

      <div class="card-footer">
        <div class="text-center my-4">
          <a href="http://www.linkedin.com/in/lohidenver" target="_blank">
          <button class="btn btn-linkedin" style="border-radius: 12px">
            <i
              class="fab fa-linkedin"
              style="font-size: 18px; margin-right: 20px"
            ></i
            >LinkedIn
          </button></a>
        </div>
      </div>

    </div>
  </div>

  <div class="col">
    <div class="card h-100 shadow-sm" style="width: 20rem">

      <div class="card-header">
        <img class="imgsize"
          src="https://live.staticflickr.com/65535/51634402013_08ba592a7e_w.jpg"
        />
      </div>

      <div class="card-body">
        <h1 class="card-title">William Slaunwhite</h1>
        <h1 class="card-title">Repo/Frontend Development</h1>
      </div>

      <div class="card-footer">
        <div class="text-center my-4">
          <a href="http://www.linkedin.com/in/william-slaunwhite-550106190/" target="_blank">
          <button class="btn btn-linkedin" style="border-radius: 12px">
            <i
              class="fab fa-linkedin"
              style="font-size: 18px; margin-right: 20px"
            ></i
            >LinkedIn
          </button></a>
        </div>
      </div>

    </div>
  </div>

</div>
</div>
