@import '/src/scss/utils/variables';


// TOP LEVEL ELEMENT CHANGES
// TODO need to replace hard-coded colors with variables
a {
  text-decoration: none;
  font-weight: 300;
  color: $text-primary-dark;
}

input {
  background: transparent;
  font-size: larger;
  color: $text-primary-dark;

  &:focus {
    // todo do I need important here?
    color: $text-secondary-dark !important;
  }
}

app-nav-grad-button {
  // TODO can decrease margin so buttons stack,
  // * if you want. Then slide out or something
  margin-inline: 3rem;
}

// TOP LEVEL NAVBAR
.toolbar {
  justify-content: space-between !important;
  height: 3.25em;
  background: transparent;
  overflow: hidden;
  padding: 0;
}

// FAR LEFT LOGO
.brand-container {
  transition: ease .3s;
  height: auto;
  margin-top: 1em;
  margin-left: .5em;

  &.brand-container:hover {
    transform: scale(1.05);
    transition: ease .3s;

    &.brand {
      transform: translateX(50%);
    }
  }
}

mat-label {
  font-size: large;
}

// .links {

//   background-image: linear-gradient(85.69deg, rgba(71, 29, 144, 0.3) 1.1%, rgba(14, 14, 69, 0.3) 71.94%),
//     linear-gradient(93.31deg, #833AB4 0%, #FD1D1D 53.39%, #FCB045 94.05%);
// }

// SEARCH BAR
.search {
  // TODO really don't like current search interaction

  width: 40vmin;
  // min-width: 25%;
  color: $light-gray;
  margin-top: 18px;
  position: relative;
  outline: none !important;

}

.search:focus-within mat-label {
  // display: none;
  transition: ease-out .3s;
}

.search ::ng-deep .mat-form-field-underline {
  display: none !important;
}

.search ::ng-deep .mat-form-field-wrapper:focus-within::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  margin-top: 3em;
  background: $text-primary-dark;
}

.links {
  padding-inline-start: 1em;
  margin: 0;

  &:last-child {
    margin-right: 1.375rem;
  }
}

.mat-button::after {
  left: 62.5%;
}



// DIVIDER COLOR
.mat-divider {
  border-top-color: $text-primary-dark;
  opacity: .5;
}

::ng-deep .mat-dialog-container {
  background: none;
  box-shadow: none;
}

::ng-deep .search ::ng-deep .mat-form-field-wrapper {
  overflow: hidden !important;
  border: none !important;
  box-shadow: none !important;
}

// ANIMATIONS
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}