<mat-toolbar class="toolbar d-flex">
  <div class="brand-container"><svg-icon class="brand" src="/assets/logos/matrix_vm_logo.svg"></svg-icon></div>
  <mat-form-field [ngClass]="{'focused': isSearchFieldFocused}" [formGroup]="searchForm" class="search">
    <mat-label>Search...</mat-label>
    <input matInput type="text" formControlName="search">
    <button class="clear" *ngIf="searchTerm.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm.setValue('')">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <div class="links d-flex">
    <app-nav-grad-button class="nav-grad-button" buttonText="home" routerLink="/home"></app-nav-grad-button>
    <app-nav-grad-button class="nav-grad-button" buttonText="about us" routerLink="/about"></app-nav-grad-button>
    <app-nav-grad-button class="nav-grad-button" *ngIf="!(isLoggedIn$ | async)" buttonText="register" [clickAction]="getRegisterDialogAction()"></app-nav-grad-button>
    <app-nav-grad-button class="nav-grad-button" *ngIf="!(isLoggedIn$ | async)" buttonText="login" [clickAction]="getLoginDialogAction()"></app-nav-grad-button>
    <app-nav-grad-button class="nav-grad-button" *ngIf="(isLoggedIn$ | async)" buttonText="my account" routerLink="/user/{username}"></app-nav-grad-button>
    <app-nav-grad-button class="nav-grad-button" *ngIf="(isLoggedIn$ | async)" buttonText="logout" [clickAction]="getLogoutAction()"></app-nav-grad-button>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>