<mat-toolbar class="toolbar d-flex">
  <div class="brand-container"><a class="brand" routerLink="/home">VioletMarketplace</a></div>
  <mat-form-field #search [ngClass]="{'focused': isSearchFieldFocused}" class="search">
    <mat-label>Search...</mat-label>
    <input matInput type="text" [(ngModel)]="searchTerm" (focus)="toggleSearchFocus()" (blur)="toggleSearchFocus()">
    <button class="clear" *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <div class="links d-flex">
    <div class="links d-flex">
      <app-nav-grad-button buttonText="home" routerLink="/home"></app-nav-grad-button>
      <app-nav-grad-button buttonText="about us" routerLink="/about"></app-nav-grad-button>
      <app-nav-grad-button *ngIf="!(isLoggedIn$ | async)" buttonText="register" [clickAction]="getRegisterDialogAction()"></app-nav-grad-button>
      <app-nav-grad-button *ngIf="!(isLoggedIn$ | async)" buttonText="login" [clickAction]="getLoginDialogAction()"></app-nav-grad-button>
      <app-nav-grad-button *ngIf="(isLoggedIn$ | async)" buttonText="my account" routerLink="/user/{username}"></app-nav-grad-button>
      <app-nav-grad-button *ngIf="(isLoggedIn$ | async)" buttonText="logout" [clickAction]="getLogoutAction()"></app-nav-grad-button>
    </div>
  </div>

  <div *ngIf="user$ | async as user">
    User: {{ user.displayName }}
  </div>
</mat-toolbar>
<mat-divider></mat-divider>