<mat-toolbar class="toolbar d-flex">
  <div class="brand-container"><a class="brand" routerLink="/home">VioletMarketplace</a></div>
  <mat-form-field class="search">
    <mat-label>Search...</mat-label>
    <input matInput type="text" [(ngModel)]="searchTerm">
    <button class="clear" *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <div class="links d-flex">
    <span class="toolbar-button"><a class="mat-button" routerLink="/home" routerLinkActive='active'>Collections</a></span>
    <span class="toolbar-button"><a class="mat-button" routerLink="/home" routerLinkActive='active'>{{ user$ | async }}</a></span>
    <span class="toolbar-button"><a class="mat-button" routerLink='/about' routerLinkActive='active'>About Us</a></span>
    <span *ngIf="!loggedIn()" class="toolbar-button"><a class="mat-button" (click)="openRegisterDialog()">Register Account</a></span>
    <span *ngIf="!loggedIn()" class="toolbar-button"><a class="mat-button" (click)="openLoginDialog()">Login</a></span>
    <span *ngIf="loggedIn()" class="toolbar-button"><a class="mat-button" (click)="logout()" routerLink='/home'>Logout</a></span>
    <span *ngIf="loggedIn()" class="toolbar-button"><a class="mat-button" routerLink='/user/{username}'>My Account</a></span>
  </div>

</mat-toolbar>