// TOP LEVEL ELEMENT CHANGES
a {
  text-decoration: none;
  font-weight: 300;
  color: #e7e7e7;
}

input {
  background: transparent;
  font-size: larger;

  &:focus {
    color: white !important;
  }
}


// TOP LEVEL NAVBAR
.toolbar {
  justify-content: space-between !important;
  height: 5em;
  background: transparent;


  /* Created with https://www.css-gradient.com */
  // background: #471D90;
  // background: -webkit-linear-gradient(top left, #471D90, #270269D3);
  // background: -moz-linear-gradient(top left, #471D90, #270269D3);
  // background: linear-gradient(to bottom right, #471D90, #270269D3);
}

// FAR LEFT LOGO
.brand-container {
  transition: ease .3s;
  padding-left: .5em;

  &.brand-container:hover {
    transform: scale(1.05);
    transition: ease .3s;
  }
}

.brand {
  font-weight: 300;
  letter-spacing: 2.25px;
}

mat-label {
  font-size: large;
}

// SEARCH BAR
.search {
  width: 50vmin;
  min-width: 35%;
  color: #ababab;
  margin-top: 10px;
  position: relative;
  outline: none !important;

}

.search ::ng-deep .mat-form-field-underline {
  display: none !important;
}

.search ::ng-deep .mat-form-field-wrapper:focus-within::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  margin-top: 3em;
  background: #e7e7e7;
}

// ADDS PADDING TO LAST LINK
.links:last-child {
  margin-right: .25em !important;
}

// THE A TAGS FOR THE NAV LINKS
.mat-button {
  font-size: 1.05em;
  font-weight: 300;
  align-items: center;
  color: #ababab;
  text-decoration: none;
  padding-inline: 1.5em;
  transition: ease .3s;

  &.mat-button:hover {
    transition: ease .25s;
    transform: scale(1.05);
    color: #e7e7e7;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: .01rem;

  }
}

// THE SPAN FOR THE NAV LINKS
.toolbar-button {
  margin-inline: .5em;
}

.mat-button::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 60%;
  opacity: .6;
  height: 1px;
  width: 6.75em;
  transform: rotate(135deg);
  background: #e7e7e7;
}

// DIVIDER COLOR
.mat-divider {
  border-top-color: #e7e7e7;
  opacity: .5;
}

// // ACTIVE LINK BECOMES WHITE
// .active {
//   color: white;
// }

::ng-deep .mat-dialog-container {
  background: none;
  box-shadow: none;
}

::ng-deep .search ::ng-deep .mat-form-field-wrapper {
  overflow: hidden !important;
  border: none !important;
  box-shadow: none !important;
}