@import "/org/src/scss/utils/mixins";
@import "/org/src/scss/utils/variables";

.mobile-navbar {
  @include flex-align-justify-direction($justify: space-between, $align: center);
  width: 100%;
  height: 70px;
  background: rgba($secondary-dark, 0.9);

  .brand-container {
    @include rel-top-right($top: -50%, $right: 9%);
    width: 20%;
    height: auto;
    margin: auto;
  }

  .menu-icon {
    font-size: 30px;
    margin-right: 1.5rem;
    color: $text-light-grayed;
    cursor: pointer;
  }

  .search-container {
    margin-bottom: 1.5rem;
    margin-right: 2rem;
  }
}

.menu-dropdown {
  @include full-wh-no-mrgpad;
  height: auto;
  position: absolute;
  width: 100%;
  z-index: 100;

  .nav-links {
    @include full-wh-no-mrgpad;
    background: rgba($secondary-dark, 0.9);

    .nav-tile {
      @include flex-align-justify-direction($align: center, $justify: center);
      height: 12.5vh;
      backdrop-filter: blur(10px);

      & > p {
        @include basic-precise-font($weight: 300, $align: center);
        @include responsive-font(24px, 30px, 320px, 1366px);
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1000px) {
  .mobile-navbar {
    display: none;
  }
}
