<head>
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"> -->
<meta charset="utf-8">
<title>NgVioletMarketplace</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<main>
<!--
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->


<button> Login </button>
<div>
  <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#SignUpModal">
   Sign Up
  </button>
</div>

<div class="modal" id="SignUpModal">
  <app-register></app-register>
</div>

<button>Create NFT</button>
<button>Profile Page</button>











<!-- ///////////////////////////////////Cards///////////////////////////////////////////// -->

  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">ASUS Rog</span> <span class="float-end price-hp">🔥🔥</span> </div>
                      <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                      <div class="text-center my-4"> <a href="#" class="btn btn-warning">Buy This NFT Now!</a> </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="https://live.staticflickr.com/65535/51635031185_238615b7fa_w.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">🔥🔥</span> <span class="float-end"><a href="#">Example</a></span> </div>
                      <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                      <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Buy This NFT Now!</a> </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="https://i.pinimg.com/originals/2d/e8/56/2de856778a293b611e355daaa8d462a9.png" class="card-img-top" alt="...">
                  <div class="label-top shadow-sm">Asus Rog</div>
                  <div class="card-body">
                      <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">🔥🔥</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                      <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                      <div class="text-center my-4"> <a href="#" class="btn btn-warning">Buy This NFT Now!</a> </div>
                      <div class="clearfix mb-1"> <span class="float-start"><i class="icon-social-facebook" class="far fa-question-circle"></i></span> <span class="float-end"><i class="far fa-plus"></i></span> </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="https://live.staticflickr.com/65535/51634402013_08ba592a7e_w.jpg" class="card-img-top" alt="...">
                  <div class="label-top shadow-sm">DELL</div>
                  <div class="card-body">
                      <div class="clearfix mb-3"> <span class="float-start price-hp">🔥🔥</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                      <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                      <div class="text-center my-4"> <a href="#" class="btn btn-warning">Buy This NFT Now!</a> </div>
                      <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        <div class="col">
            <div class="card h-100 shadow-sm"> <img src="https://live.staticflickr.com/65535/51634828034_530acf3aa8_n.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Rare!</span> <span class="float-end price-hp">🔥🔥</span> </div>
                    <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                    <div class="text-center my-4"> <a href="#" class="btn btn-warning">Buy This NFT Now!</a> </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8oxYzUjEgRF7WZlyAhfwgpTmDta_x8H_s6X3MHwPsbRuhB-BxmItGotrJgim4qk-_gDc&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">🔥🔥</span> <span class="float-end"><a href="#">Example</a></span> </div>
                    <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                    <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Buy This NFT Now!</a> </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVVdV1HYLXYK3oPFisDaN5Lvrfv_HHzVGRao8p0LVnzSIp1PBSjxxx8YiDek4Ax1VNGFo&usqp=CAU" class="card-img-top" alt="...">
                <div class="label-top shadow-sm">Asus Rog</div>
                <div class="card-body">
                    <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">🔥🔥</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                    <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                    <div class="text-center my-4"> <a href="#" class="btn btn-warning">Buy This NFT Now!</a> </div>
                    <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm"> <img src="https://live.staticflickr.com/65535/51634180946_37edc7c4ea_w.jpg" class="card-img-top" alt="...">
                <div class="label-top shadow-sm">DELL</div>
                <div class="card-body">
                    <div class="clearfix mb-3"> <span class="float-start price-hp">🔥🔥</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                    <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                    <div class="text-center my-4"> <a href="#" class="btn btn-warning">Buy This NFT Now!</a> </div>
                    <div class="clearfix mb-1"> <span class="float-start"><em class="bi bi-cart-plus-fill"></em></span> <span class="float-end"><i class="bi bi-bookmark-heart-fill"></i></span> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////Cards End//////////////////////////////////////////////////// -->

</main>
