  <div class="column middle">
    <div
      class="container-fluid bg-trasparent"
      style="position: relative"
    >
      <div class="row row-cols-sm-5">
        <div *ngFor="let token of tokens">
          <div class="card" >
            <a routerLink="/token/id/{{ token.id }}">
              <img
                class="card-img-top"
                src="{{ token.tokenLocation }}"
                alt="Card image cap"
              />
              <div class="card-body">
                <h4 class="card-title">{{ token.name }}</h4>
                <p class="card-text">{{ token.description }}</p>
                <p class="card-text">Price: ${{ token.price }}</p>
                <a routerLink="/token/id/{{ token.id }}" class="btn btn-primary"
                  >Buy this NFT</a
                >
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
