<head>

<meta charset="utf-8">
<title>NgVioletMarketplace</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<button class="btn btn-linkedin" style="border-radius: 12px;"><i class="fab fa-linkedin" style="font-size: 18px; margin-right: 20px;"></i>LinkedIn</button>







<div *ngFor="let token of tokens">
  <div class="col">
  <div classs="card" style="width: 20rem;" ><a routerLink="/token/id/{{token.id}}">
    <img class="card-img-top" src="https://bit.ly/3GSu5vh" alt="Card image cap" />
    <div class="card-body">
      <h4 class="card-title">{{token.name}}</h4>
    <ul id="firstRow">
      <li class="card-text">{{ token.description }}</li>
      <li class="card-text">{{ token.rarity }}</li>
      <li class="card-text">{{ token.price }}</li>
    </ul>
    <hr>
    <ul>
      <li class="card-text">{{ token.description }}</li>
    </ul>
    </div>
  </a>
  </div>
</div>




</div>


<!--
  <div class="col">
    <div class="card h-100 shadow-sm"> <img src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg" class="card-img-top" alt="..."> -->






          <!-- <div> <a href="#" class="btn btn-warning">Buy This NFT Now!</a> </div>
        </div>
    </div>
</div> -->











  <div class="row">
    <div class="column side">
            <h2>What's Hot!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
        obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam</p><br>
        <h2>Whats New</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
          molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
          obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam</p><br>
          <h2>New Drops</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
          molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
          obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam</p><br>
          <h2>Buy NFTs Now</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
            obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam</p><br>
            <h2>NFT Auctions - Coming Soon!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
              molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
              numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
              optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
              obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam</p><br>

              <h2>Create your own NFT!</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam</p><br>

    </div>

<!-- ////////////////////////////////////////////////////////////////// -->

<div class="column middle">
      <h2>NFTs</h2>


    <div *ngFor="let token of tokens">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://bit.ly/3GSu5vh" alt="Card image cap" />
        <div class="card-body">
          <h4 class="card-title">{{token.name}}</h4>
          <p class="card-text">{{token.description}}</p>
          <p class="card-text">Price: ${{token.price}}</p>
          <a routerLink="/token/id/{{token.id}}" class="btn btn-primary" >Buy this NFT</a>
        </div>
      </div>
    </div>
</div>

<!-- <a *ngFor="let hero of heroes"
  routerLink="/detail/{{hero.id}}">
  {{hero.name}}
</a> -->

<!-- ////////////////////////////////////////////////////////////////// -->
<div class="column side">
      <h2>News</h2>
      <h3></h3>
      <p></p>
      <ul style="list-style-type:disc">
         <li><b>Lorem ipsum </b>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At volutpat diam ut venenatis tellus in metus vulputate eu. Lorem donec massa sapien faucibus. Pretium quam vulputate dignissim suspendisse in est ante. Cum sociis natoque penatibus et magnis dis. Ultrices dui sapien eget mi proin. Vulputate mi sit amet mauris commodo. Nibh tellus molestie nunc non blandit massa enim nec dui. Volutpat sed cras ornare arcu dui vivamus arcu. Pulvinar sapien et ligula ullamcorper malesuada. Mauris cursus mattis molestie a.</li><br>
         <li><b>Vel facilisis</b> volutpat est velit egestas dui id. Sapien et ligula ullamcorper malesuada proin libero. Risus nec feugiat in fermentum posuere. Malesuada fames ac turpis egestas. Augue mauris augue neque gravida in. Non arcu risus quis varius quam quisque id diam. Arcu cursus vitae congue mauris rhoncus aenean vel. Vulputate eu scelerisque felis imperdiet proin. Nisl vel pretium lectus quam id leo in vitae turpis. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. At erat pellentesque adipiscing commodo elit at imperdiet. Suspendisse sed nisi lacus sed viverra tellus in. Tempor nec feugiat nisl pretium. Sem et tortor consequat id porta nibh. Blandit massa enim nec dui. Condimentum id venenatis a condimentum vitae. Turpis egestas integer eget aliquet. Tincidunt lobortis feugiat vivamus at augue.</li><br>
         <li><b>Eu tincidunt</b>Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Tortor vitae purus faucibus ornare suspendisse sed. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Risus nullam eget felis eget nunc lobortis mattis aliquam. A diam maecenas sed enim ut. Ut porttitor leo a diam sollicitudin tempor id eu. Ac auctor augue mauris augue neque gravida in fermentum. Elementum nisi quis eleifend quam adipiscing vitae. Nunc scelerisque viverra mauris in. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Urna molestie at elementum eu facilisis sed odio morbi. Ipsum consequat nisl vel pretium lectus. Quam nulla porttitor massa id neque. Nibh nisl condimentum id venenatis a. Lacus viverra vitae congue eu consequat ac felis donec et. Eget egestas purus viverra accumsan in nisl. Urna nec tincidunt praesent semper feugiat. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.</li><br>
      </ul>

</div>
</div>





<!-- ///////////////////////////////////Cards///////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////Cards End//////////////////////////////////////////////////// -->


