@import "/src/scss/utils/mixins";
@import "/src/scss/utils/variables";

.search-field {
  width: 100%;
}

.icon {
  @include rel-top-right($top: 15%, $right: 3%);
  display: inline;
}


@media screen and (max-width: 768px) {
  .search-field {
    display: none;
  }

  .icon {
    @include rel-top-right($top: 50%, $right: 40%)
  }

}