@import '/src/scss/utils/variables';
@import '/src/scss/utils/mixins';

:host {
  display: block;
  width: 24rem;
  height: 18rem;
  margin: 1rem;
  perspective: 1500px;
}


.big-user-card {
  @include full-size;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 6px;
  background: transparent;

  .card-front {
    @include full-size;
    overflow: hidden;
    background-size: cover;
    cursor: pointer;

    .image-wrapper {
      @include full-size;
      overflow: hidden;

      .card-img,
      .glass-pane {
        @include full-size;
      }

      .card-img {
        @include abs-top-left($top: -2px, $left: -2px);
        object-fit: cover;
        background: transparent;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        margin: auto;
      }

      .glass-pane {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        transition: 0.3s ease-in-out;
        z-index: 2;
      }
    }

    .card-details {
      @include full-size;
      color: white !important;
      z-index: 3;
      transition: 0.3s ease-in-out;
      opacity: 0;

      .card-img-title,
      .card-img-description {
        @include basic-precise-font($size: 1.4rem, $align: center, $weight: 400);
      }

      .card-img-description {
        font-size: 1.25rem;
        width: 95%;
        margin: auto;
      }
    }

    &:hover .glass-pane {
      background: rgba(0, 0, 0, 0.1);
      opacity: 0.65;
    }

    &:hover .card-details {
      opacity: 1 !important;
    }
  }

  .content {
    position: relative;
    top: -35%;
    /* style the content block here, example: */
    color: white;
    z-index: 3;
  }

  .actions {
    @include abs-bot-left;
    @include full-wh-no-mrgpad;
    height: 20%;
    cursor: default;
  }
}
