// apply box shadow to all browsers
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

// apply transition to all browsers
@mixin transition($properties...) {
  -webkit-transition: $properties;
  -moz-transition: $properties;
  -o-transition: $properties;
  transition: $properties;
}

// center a div!
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// calculate font size based on viewport
@mixin responsive-font($minSize, $maxSize, $minViewport, $maxViewport) {
  font-size: $minSize;

  @media (min-width: $minViewport) and (max-width: $maxViewport) {
    font-size: calc(#{$minSize} + (#{$maxSize} - #{$minSize}) * ((100vw - #{$minViewport}) / (#{$maxViewport} - #{$minViewport})));
  }
}

@mixin button-gradient($gradients...) {
  background-image: $gradients;
}

@mixin card-glass($gradients...) {
  .glass-wrapper {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    z-index: 2;
    padding: 0;
    opacity: .95;
    background: linear-gradient(135deg, rgba(13, 13, 13, 0.303) 0%, rgb(0, 0, 0) 100%),
      linear-gradient(90deg, rgba(0, 0, 0, 0.164) 0%, rgba(13, 13, 13, 0.5) 80%),
      linear-gradient(180deg, rgba(0, 0, 0, 0.164) 0%, rgba(255, 255, 255, 0.124) 80%);
  }
}

@mixin card-glass-border() {
  .glass-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 100%),
      radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .1) 70%);
    z-index: -1;
    border-radius: 6px;
    padding: 0;
    margin: 0;
  }
}

@mixin flex-column-start() {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}


// @mixin glass-effect {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 6px;
//   z-index: 2;
//   padding: 0;
//   margin: 0;
//   opacity: .95;
//   background: linear-gradient(135deg, rgba(199, 199, 199, 0.303) 0%, rgba(189, 189, 189, 0.443) 100%),
//     linear-gradient(90deg, rgba(0, 0, 0, 0.164) 0%, rgba(255, 255, 255, 0.124) 80%),
//     linear-gradient(180deg, rgba(0, 0, 0, 0.164) 0%, rgba(255, 255, 255, 0.124) 80%),
//     radial-gradient(circle at center, rgba(106, 106, 106, 0.15), rgba(105, 105, 105, 0.15) 70%);
// }

// @mixin glass-effect-bordel() {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 100%),
//     radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .1) 70%);
//   z-index: -1;
//   border-radius: 6px;
//   padding: 0;
//   margin: 0;
// }