$font-family: "Nunito", sans-serif;

// Dark Mode
$primary-dark: #471D90;
$secondary-dark: #5B4C75;
$backup-secondary: #3635ac;
$background-dark: #0a0a37;
$text-primary-dark: #e5e5e5;
$text-secondary-dark: #ececec;
$text-dark-grayed: #404040;
$glass-effect: (
  linear-gradient(135deg, rgba(199, 199, 199, 0.303) 0%, rgba(189, 189, 189, 0.443) 100%),
  linear-gradient(90deg, rgba(197, 197, 197, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
  linear-gradient(180deg, rgba(121, 121, 121, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
  radial-gradient(circle at center, rgba(106, 106, 106, 0.15), rgba(105, 105, 105, 0.15) 70%)
);




// Light Mode    #333333 or #404040,
$primary-light: #836dff;
$secondary-light: #bda7ff;
$background-light: #f1f0f6;
$text-primary-light: #0a0a37;
$text-secondary-light: #52446d;

// Accent and Warning Colors
$accent-color: #5029ff;
$warning-color: #f44336; // This is a red color
$light-gray: #ababab;
$light-beige: #f5f5dc;
$light-blue: #87ceeb;
