$font-family: "Nunito", sans-serif;

// Dark Mode
$primary-dark: #471D90;
$secondary-dark: #5B4C75;
$background-dark: #0a0a37;
$text-primary-dark: #b6b6b6;
$text-secondary-dark: #ececec;

// Light Mode
$primary-light: #836dff;
$secondary-light: #bda7ff;
$background-light: #f1f0f6;
$text-primary-light: #0a0a37;
$text-secondary-light: #52446d;

// Accent and Warning Colors
$accent-color: #5029ff;
$warning-color: #f44336; // This is a red color