@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';

.register-container {
  @include button-gradient(linear-gradient(180deg, rgba($primary-dark, .95), rgba($primary-light, .95)));

  position: relative;
  left: 25%;
  width: 50vw;
  height: 55vh;
  border-radius: 2px;
  opacity: .8;
}

// * THIS WORKS
::ng-deep #mat-tab-content-1-0>.mat-tab-body-content,
::ng-deep #mat-tab-content-0-0>.mat-tab-body-content {
  overflow: hidden !important;
}

.register-tab-container {
  width: 100%;
  height: 55vh;
}

// TODO GPT says this is the only way, but
// need to investigate that claim further
// ::ng-deep.mat-tab,
// ::ng-deep.register-tab,
.register-tab-container ::ng-deep.mat-tab-label {
  width: 17vw;
  height: 50px;
  @include basic-precise-font($size: 1.3rem);
}


.register-tab-container ::ng-deep.mat-tab,
::ng-deep mat-tab,
::ng-deep .register-tab {
  height: 55vh;
  width: 50vw;
  background: black !important;
}

.dg-button-submit {
  width: 180px;
  height: 80px;
}
