@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';


#mat-tab-content-0-0 {
  height: 60vh;
}


.register-container {
  @include bg-gradient(linear-gradient(180deg, rgba($primary-dark, .95), rgba($primary-light, .95)));

  position: relative;
  left: 25%;
  width: 50vw;
  height: 55vh;
  border-radius: 2px;
  opacity: .8;

  .register-tab-container {
    height: 100%;

    // TODO GPT says this is the only way, but
    // * need to investigate further
    &::ng-deep.mat-tab-label {
      width: 17vw;
      height: 50px;
      @include basic-precise-font($size: 1.3rem);
    }
  }

  .tab-nav-next {
    position: absolute;
    right: 7%;
    bottom: 8%;
  }

  .tab-nav-back {
    position: absolute;
    left: 7%;
    bottom: 8%;
  }

}

// * THIS WORKS
::ng-deep .mat-tab-body,
::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
  height: 50vh !important;
}

.dg-button-container {
  width: 50%;
  height: 70px;
  @include flex-align-justify-direction($align: flex-start, $justify: center);
  margin-top: 2em;
}

.summary-tab {
  overflow: hidden;
}
