<div class="register-container">
  <mat-tab-group class="register-tab-container" [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
    <mat-tab class="register-tab first-tab" label="Required">
      <app-required-form [formFields]="requiredFields"></app-required-form>
    </mat-tab>
    <mat-tab label="Optional">
      <app-optional-form [fields]="optionalFieldsStrings" [optionalFormGroup]="optionalFields"></app-optional-form>
    </mat-tab>
    <mat-tab label="Summary">
      <app-summary-tab [summary]="summary"></app-summary-tab>
      <app-double-grad-button [label]="'submit'" (click)="onSubmit()"></app-double-grad-button>
    </mat-tab>
  </mat-tab-group>
</div>
