<div @slideInTop class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-tab-group class="register-tab-container" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
      <mat-tab class="register-tab required-tab" label="Required">
        <app-required-form [formFields]="requiredFields"></app-required-form>
        <app-ghost-grad-button (click)="onTabChange(selectedTabIndex+1)" class="tab-nav-button tab-nav-next" [size]="'small'" [gradient]="'green'" [label]="'next'"></app-ghost-grad-button>
      </mat-tab>
      <mat-tab class="register-tab optional-tab" label="Optional">
        <app-optional-form [fields]="data.optionalFieldsStrings" [optionalFormGroup]="optionalFields"></app-optional-form>
        <app-ghost-grad-button (click)="onTabChange(selectedTabIndex-1)" class="tab-nav-button tab-nav-back" [size]="'small'" [gradient]="'red'" [label]="'back'"></app-ghost-grad-button>
        <app-ghost-grad-button (click)="onTabChange(selectedTabIndex+1)" class="tab-nav-button tab-nav-next" [size]="'small'" [gradient]="'orange'" [label]="'next'"></app-ghost-grad-button>
      </mat-tab>
      <mat-tab class="register-tab summary-tab" label="Summary">
        <app-summary-tab [summary]="summary"></app-summary-tab>
        <div class="dg-button-container">
          <app-double-grad-button [label]="'submit'" [size]="'large'"></app-double-grad-button>
          <!-- TODO need to figure out navigation for summary page -->
          <!-- <app-ghost-grad-button (click)="onTabChange(selectedTabIndex-1)" class="tab-nav-button tab-nav-back" [size]="'small'" [gradient]="'red'" [label]="'back'"></app-ghost-grad-button> -->
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
