<br>
<br>
<div class="col">
  <div class="card h-100 shadow-sm" style="width: 25rem">

    <div class="card-header"><img class="imgsize"
        src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg"/>
    </div>
    <div>


    </div>
    <div class="card-body">
      <h1>Offer Expiration</h1>
      <div>

        <form action="/action_page.php">
          <label for="offerExp">Date and Time:</label>
          <input type="datetime-local" id="offerExp" name="offerExp">
        </form>

      </div><br>
      <h1 class="card-title">Offer Price:</h1><br>
      <h1 class="card-title"><input type="number" id="offerPrice" name="offerPrice"placeholder="$69420" size="30"></h1>
      <br>
      <div class="form-group">
        <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
      </div>
    </div>


    <div class="card-footer">
      <div class="text-center my-4">
        <a href="https://www.linkedin.com/in/caleb-gardner-1972b6211/">
        <button class="btn btn-danger" style="border-radius: 12px">
        Make Offer
        </button></a>
      </div>

    </div>
