@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';
@import '/src/scss/components/forms/forms';

.tab-content {
  display: grid;
  height: 50vh;
  width: 50vw;
  grid-template-columns: auto auto;
  gap: 3em;

  .form-field {
    width: 80%;
    margin-inline: auto;
    margin-top: 3em;
    @include basic-precise-font($size: 1.3rem);
    color: green;

    // this works btw
    // doesn't even bleed over
    ::ng-deep mat-label {
      @include basic-precise-font($size: 1.3rem);
      letter-spacing: .075rem;
      color: green;
    }
  }

  .text-danger {
    grid-column: 2;
    @include basic-precise-font($size: 1.45rem);
    text-align: right;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: 80%;
    color: $warning-color;
  }
}
