<div class="tab-content">
  <mat-form-field class="form-field">
    <mat-label>email</mat-label>
    <input type="email" matInput #email formControlName="email">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>username</mat-label>
    <input type="text" matInput formControlName="username">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>password</mat-label>
    <input type="password" matInput formControlName="password" required>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>confirm password</mat-label>
    <input type="password" matInput formControlName="confirmPassword" required>
  </mat-form-field>

  <div class="labels-container">
    <mat-label class="required-label">* required <br></mat-label>

    <!-- * Password Match Error -->
    <!-- * need to fix in .ts -->
    <mat-label class="text-danger">* Passwords do not match</mat-label>
  </div>
</div>
