/* .btn-primary {
  color: rgb(255, 255, 255);
  background-color: violet;
  border-radius: 18px;
  border: none;
} */

.card {
  background-color: #8941cca9 !important;
}

.btn-primary  {
  background-color: #8941CCa9 !important;
}
