@import '/src/scss/utils/mixins';

.main-content {
  height: 100vh;
  width: 100vw;
  @include flex-column-start;

  .top-twenty,
  .middle-half,
  .bottom {
    width: 100%;
    flex-direction: column;
    @include flex-center;

    &.top-twenty {
      height: 20%;
      background: darkblue;
    }

    &.middle-half {
      // background: gray;
      height: 50%;
      width: 100%;
      align-items: flex-start;
      @include flex-column-start;
      background: black;

      .token-list-header {
        width: 25%;
        margin-inline: auto;
        margin-left: 30%;
        font-weight: 300;
        font-size: 3.25rem;
        text-align: start;
        background: orange;
        color: #e7e7e7;
      }

      .token-list-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        // background-color: black;

        app-big-token-list {
          height: 30em;
          width: 80%;
          margin-inline: auto;
        }

      }
    }
  }
}