<div class="container-fluid d-flex">
  <div class="main-content">
    <div class="top-twenty">
      <div class="hero-section"></div>
    </div>
    <div class="middle-half">
      <div class="cta-container">
        <h2 class="token-list-header">start trading with your friends</h2>
        <app-double-grad-button label="Join Now" class="grad-button"></app-double-grad-button>
      </div>
      <div class="token-list-container">
        <app-big-token-list></app-big-token-list>
      </div>
    </div>
    <div class="bottom">
    </div>
  </div>
</div>