<mat-toolbar class="toolbar">
  <div class="brand-container"><svg-icon class="brand" src="/assets/logos/matrix_vm_logo.svg"></svg-icon></div>
  <mat-icon class="hamburger-menu-icon" fontIcon="menu">menu</mat-icon>
  <app-search-container class="search-container"></app-search-container>
  <div class="links">
    <app-nav-grad-button class="nav-grad-button" buttonText="home" routerLink="/home"></app-nav-grad-button>
    <app-nav-grad-button class="nav-grad-button" buttonText="about us" routerLink="/about"></app-nav-grad-button>
    <app-nav-grad-button class="nav-grad-button" *ngIf="!(isLoggedIn$ | async)" buttonText="register"
      [clickAction]="getRegisterDialogAction()"></app-nav-grad-button>
    <app-nav-grad-button class="nav-grad-button" *ngIf="!(isLoggedIn$ | async)" buttonText="login"
      [clickAction]="getLoginDialogAction()"></app-nav-grad-button>
    <app-nav-grad-button class="nav-grad-button" *ngIf="(isLoggedIn$ | async)" buttonText="my account"
      routerLink="/user/{username}"></app-nav-grad-button>
    <app-nav-grad-button class="nav-grad-button" *ngIf="(isLoggedIn$ | async)" buttonText="logout"
      [clickAction]="getLogoutAction()"></app-nav-grad-button>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>