@import '/src/scss/utils/variables';
@import '/src/scss/utils/mixins';
@import '/src/scss/utils/utilities';

@include hide-underline;

// TODO navbar breaks after typing in search??

// TOP LEVEL NAVBAR
.toolbar {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  background: rgba($secondary-dark, .8);
  overflow: hidden;
  padding: 0;

  // FAR LEFT LOGO
  .brand-container {
    transition: ease .3s;
    height: auto;
    margin-top: 1em;
    margin-left: .5em;

    // TODO fix brand's animation
    &:hover svg-icon {
      transform: translateX(-5px);
      transition: ease .3s;

      // .brand {
      //   height: auto;
      //   transform: translateX(50%);
      // }
    }
  }

  // SEARCH BAR
  .search-container {
    margin-bottom: 12px;
  }


  .links {
    @include basic-precise-font;
    display: flex;
    text-decoration: none;
    padding-inline-start: 1em;
    margin: 0;

    .nav-grad-button {
      margin-inline: .4rem;
      margin-right: calc(.4rem + 1px);
    }

    &:last-child {
      margin-right: -1rem;
    }

  }

}

.hamburger-menu-icon {
  display: none;
}

@media screen and (max-width: 480px) {
  .toolbar {
    height: 80px;
  }

  .nav-grad-button {
    transform: scale(.25);
  }

  .brand-container {
    @include rel-top-right($right: 4rem);
    transform: scale(.5);
  }
}



// DIVIDER COLOR
.mat-mdc-divider {
  border-top-color: $secondary-dark;
  opacity: .5;
}

::ng-deep .search .mat-mdc__text-label {
  color: $text-primary-dark !important;
}