@import "/src/scss/utils/variables";
@import "/src/scss/utils/mixins";

.search-container {
  position: relative;
  width: 40vw; // Adjust to fit your design
  max-width: 500px; // Maximum width
  background: transparent;

  // Media query for responsiveness (optional)
  @media (max-width: 768px) {
    width: 50vw;
  }

  .search {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 75px;

    .search-bar {
      width: 70%;
      margin-inline: auto;
      padding-right: .5rem;
    }
  }
}
