@import "../../../scss/utils/mixins";
@import "../../../scss/utils/variables";

@include remove-autofill-background;

//TODO fix this, encapsulate styles better
// * hits search bar, etc.
.search,
mat-hint,
.mdc-input-element::placeholder,
.mat-mdc-text-field-wrapper,
.form-field-large,
.form-field-large *,
.form-field-large > * {
  color: $text-light-grayed;
  caret-color: white !important;
  text-decoration: white;
  background: transparent !important;
  transition: all ease-out 0.75s;
}


// HANDLING THE PLACEHOLDER TEXT AND DECORATIONS
// AS WELL AS AUTOFILL BACKGROUND
::ng-deep .mat-mdc-input-element {
  caret-color: $text-primary-dark;
}

// changes font weight on submit button
form button ::ng-deep .text-wrapper {
  font-weight: 200 !important;
  font-size: 2rem !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
  -webkit-text-size-adjust: 50%;
}

// * changes color on focused states
::ng-deep .ng-valid mat-mdc__text-label,
::ng-deep .ng-pristine mat-mdc__text-label,
::ng-deep .mat-mdc-focused mat-mdc__text-label {
  color: $secondary-light;
}
