<div class="big-token-card" [routerLink]="['/token/id', token.id]" *ngIf="token">
  <div class="card-face card-front">
    <img src="{{ token.tokenLocation }}" class="card-img" />
    <div class="card-details">
      <p class="card-img-title">{{ token.name }}</p>
      <p class="card-img-description">{{ token.description }}</p>
    </div>
  </div>
  <div class="card-face card-back">
    <div class="content">
      <p class="token-text token-price">${{ token.price }}</p>
      <div class="actions">
        <app-big-token-card-button buttonText="Bid" customClass="large-purchase-button large-purchase-button-bid"></app-big-token-card-button>
        <app-big-token-card-button buttonText="Buy" customClass="large-purchase-button large-purchase-button-buy"></app-big-token-card-button>
      </div>
    </div>
  </div>
</div>
