// @import '/src/scss/components/tokens/big-card';
@import '/src/scss/utils/variables';
@import '/src/scss/utils/mixins';

:host {
  display: block;
  width: 24rem;
  height: 18rem;
  margin: 1rem;
  perspective: 1500px;
}

.big-token-card {
  @include full-wh-no-mrgpad;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 6px;
  background: transparent;

  .card-front {
    @include full-wh-no-mrgpad;
    position: relative;
    overflow: hidden;
    background-size: cover;
    border-radius: inherit;
    cursor: pointer;

    .image-wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-radius: inherit;

      .card-img {
        @include full-wh-no-mrgpad;
        @include abs-top-left;
        border-radius: inherit;
        object-fit: cover;
      }

      .glass-pane {
        @include abs-top-left;
        @include full-wh-no-mrgpad;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: inherit;
        transition: 0.3s ease-in-out;
        z-index: 2;
      }
    }

    .card-details {
      @include abs-top-left;
      color: white !important;
      z-index: 3;
      transition: 0.3s ease-in-out;
      opacity: 0;

      .card-img-title,
      .card-img-description {
        @include basic-precise-font($size: 1.4rem, $align: center, $weight: 400);
      }

      .card-img-description {
        font-size: 1.25rem;
        width: 95%;
        margin: auto;
      }
    }

    &:hover .glass-pane {
      background: rgba(0, 0, 0, 0.1);
      opacity: 0.65;

    }

    &:hover .card-details {
      opacity: 1 !important;
    }
  }

  .content {
    position: relative;
    top: -35%;

    .token-price {
      @include basic-bold-font($size: 1.5rem, $align: center, $weight: 400);
      margin-right: 5px;
      cursor: default;
      position: relative;
      z-index: 3;
    }
  }

  .actions {
    @include abs-bot-left;
    @include full-wh-no-mrgpad;
    height: 20%;
    cursor: default;
  }
}
