<div #tokensContainer appScroll class="tokens-container d-flex flex-row">
  <!-- <button disableRipple mat-button (click)="scrollFarLeft(tokensContainer)" (mouseover)="startScrollLeft(tokensContainer)" (mouseleave)="mouseleaveScroll()" class="scroll-button scroll-button-left">
    left</button> -->
  <app-big-token-card *ngFor="let token of tokens$ | async" [token]="token"></app-big-token-card>
  <!-- <button disableRipple mat-button (click)="scrollFarRight(tokensContainer)" (mouseover)="startScrollRight(tokensContainer)" (mouseleave)="mouseleaveScroll()"
    class="scroll-button scroll-button-right">right</button> -->
</div>
