
<br>
<br>

<button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>

<ng-template #template>
   <div class="modal-header">
      <h4 class="modal-title pull-left"></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">×</span>
      </button>
   </div>


   <div class="modal-body">
    <div class="col">
      <div class="card h-100 shadow-sm" style="width: 20rem">

        <div class="card-header"><img class="imgsize"
            src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg"/>
        </div>

        <div class="card-body">
          <h1 class="card-title">Offer Price:</h1>
          <h1 class="card-title">$4000</h1>
          <br>
          <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
          </div>
        </div>


        <div class="card-footer">
          <div class="text-center my-4">
            <a href="https://www.linkedin.com/in/caleb-gardner-1972b6211/">
            <button class="btn btn-danger" style="border-radius: 12px">
             Buy Now
            </button></a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
         </div>

        </div>
        </div>
        </div>
   </div>

</ng-template>
