@import "/src/scss/utils/mixins";
@import "/src/scss/utils/variables";

.results-container {
  // @include bg-gradient(linear-gradient(180deg, rgba($primary-dark, .95), rgba($primary-light, .95)));
  background: transparent;
  border-radius: 2px;
  opacity: 0.95;

  .search-tab-container {
    width: 97.5%;
    margin-inline: auto;
    padding-top: 1.5%;

    ::ng-deep.mdc-tab {
      height: 4rem;
      background-color: $primary-dark;
    }

    // TODO GPT says this is the only way, but
    // * need to investigate further
    & ::ng-deep.mdc-tab__text-label {
      @include basic-bold-font();
      @include responsive-font(2.25rem, 2.5rem, 350px, 1366px);
      padding: 0;
    }

    // * THIS WORKS
    // * literally cannot find another
    // * way to do this
    > ::ng-deep.mat-mdc-tab-body-wrapper {
      overflow: hidden !important;
      height: 100% !important;
    }
  }
}
