:host {
  display: block;
}

mat-toolbar {
  overflow-x: hidden;
  min-height: 4em;
  min-width: 100vw;
  display: flex;
  align-items: center;
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}


.search-bar {
  width: 100%;
}

.filter-button {
  margin-right: 16px;
}

.avatar-icon {
  margin-right: 0;
}

.filter-button,
.avatar-icon {
  justify-self: flex-end;
}


.vm-logo {
  height: 100%;
  width: auto;
  scale: 1.5;
  margin: 3em 0 0 2em;
  // transform: scale(1.25) scaleY(1.5);
  // margin: 4em 0 0;
}

.right-links {
  margin-left: 5em;
  width: 10%;
}

.search-container {
  margin-top: .5em;
  margin-left: 5em;
}