// @import '/src/scss/components/forms/forms';
@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';

@include remove-autofill-background;

.form-content {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .form-container {
    @include flex-align-justify-direction($direction: column, $justify: space-between);
    width: 60%;
    margin-inline: auto;
    margin-top: 1rem;
  }

  .form-field {

    // * this works btw
    // * doesn't even bleed over
    ::ng-deep mat-mdc__text-label {
      letter-spacing: .05rem;
    }
  }
}

// changes the biography textarea height
.textarea textarea.mat-mdc-input-element {
  height: 150px;
}
