// TEXT FOR TOP OF CARD
// .token-text {
//   margin-bottom: .5em;
//   margin-top: -.75em !important;
//   padding-top: .4em;
//   padding-inline-end: .75em;
//   padding-inline-start: .25em;
//   letter-spacing: .06em;
//   &.token-name {
//     width: 14rem;
//   }
// }


// .app-button {
//   width: 50px !important;
//   color: orange;
//   position: absolute
// }

.test-button {
  width: 160px;
  height: 60px;
  background: rgb(54, 53, 172);
  background: linear-gradient(103deg, rgba(54, 53, 172, 1) 0%, rgba(121, 89, 190, 1) 70%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(1px);
  border-radius: 8px;
  box-sizing: border-box;
}