<div class="container-fluid d-flex">

  <section class="sidenav-container">
    <app-sidenav></app-sidenav>
  </section>





  <div class="token-container d-flex flex-wrap">
    <mat-card *ngFor="let token of tokens">
      <a routerLink="/token/id/{{token.id}}"><img mat-card-image src="{{ token.tokenLocation }}" />
      <mat-card-content class="d-flex flex-row text-align-center">
        <p class="token-text token-name">{{ token.name }}</p>
        <p class="token-text token-price">{{ token.price }}</p>
      </mat-card-content>
      <mat-card-actions class="actions d-flex">
        <button class="purchase-button purchase-button-bid" mat-button>BID</button>
        <button class="purchase-button purchase-button-buy" mat-button>BUY</button>
      </mat-card-actions></a>
    </mat-card>
  </div>
</div>
