// @import '/src/scss/components/forms/forms';
@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';

@include remove-autofill-background;

.form-content {
  height: 80%;
  width: 88%;
  padding-left: 5rem;
  overflow-y: auto;
  overflow-x: hidden;

  .form-field {
    width: 65%;
    margin-inline: auto;
    margin-top: 3em;
    @include basic-precise-font($size: 1.3rem);
    color: green;
    padding-left: 2em;

    // * this works btw
    // * doesn't even bleed over
    ::ng-deep mat-label {
      @include basic-precise-font($size: 1.3rem);
      letter-spacing: .05rem;
      color: green;
    }
  }
}

// changes the biography textarea height
.textarea textarea.mat-input-element {
  height: 150px;
}
