<!-- TODO need to make this component dynamic
* so I can pass in an array of fields and generate
* a grid based on that instead -->

<div class="tab-content">
  <mat-form-field class="form-field">
    <mat-label>display name</mat-label>
    <input type="text" matInput formControlName="displayName">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>biography</mat-label>
    <textarea type="text" matInput rows="4" formControlName="biography"></textarea>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>profile picture (url)</mat-label>
    <input type="text" matInput formControlName="profilePicture">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>wallet addr. (dummy for now)</mat-label>
    <input type="text" matInput formControlName="wallet">
  </mat-form-field>
</div>