  @import '/src/scss/utils/variables';
  @import '/src/scss/utils/mixins';

  @include card-glass;

  // CARDS
  .mat-card {
    height: 14rem;
    width: 18rem;
    border-radius: 6px;
    padding: 0;
    opacity: .75;
    overflow: hidden;
    text-align: center;
    will-change: transform;
    transition: ease-in-out .55s;

    .glass-wrapper {
      opacity: .6;
      pointer-events: none;
      z-index: 1;
      border-radius: 0;
    }

    &.mat-card a {
      @include flex-center;
      align-items: flex-start;
    }

    &.mat-card:hover {
      opacity: .975;
      transform: translateY(-3px);
      transition: ease-out .2s;
      backface-visibility: hidden;
      @include box-shadow(0 0 8px hsla(0, 0%, 50%, 0.7));

    }

    &.mat-card:hover .glass-wrapper {
      opacity: .45;
    }

    &.mat-card img {
      background: transparent;
      image-resolution: from-image;
      image-rendering: optimizeQuality;
    }

    &.mat-card:hover img {
      image-resolution: from-image;
      image-rendering: optimizeQuality;
      animation: clip-fade 10s infinite alternate;
      transition: all .2s;
    }

    &.mat-card:hover .card-img-title {
      opacity: 0;
      pointer-events: none;
      transition: ease-in-out .05s;
    }

    &.mat-card:hover .token-price {
      opacity: 1;
      pointer-events: none;
      transition: ease-out .4s;
    }

    &.mat-card:hover .card-img-description {
      transition: ease-out .4s;
      pointer-events: none;

      // LIMIT PARAGRAPH TEXT TO N LINES
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      /* number of lines to show */
      line-clamp: 5;
      -webkit-box-orient: vertical;
    }

    &.mat-card:hover.card-img-title {
      color: $secondary-dark;
    }

    .mat-card-image {
      position: absolute;
      height: 100%;
      margin-top: 0;
      margin-inline: auto;
      opacity: .8;
      @include flex-center;
    }

    .card-img-title {
      color: $text-primary-dark;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16em;
      justify-content: center;
      z-index: 3;
    }

    .card-img-description {
      position: absolute;
      height: 7.5em;
      top: 10%;
      transition: ease .4s;
      width: 15em;
      margin: 0;
      padding: 0;
      display: none;
      overflow: hidden;
      z-index: 3;
    }

    .token-price {
      opacity: 0;
      width: 15rem;
      position: absolute;
      top: 70%;
      justify-content: center;
      text-align: center;
      margin: auto;
      transition: ease-out .4s;
      z-index: 3;
    }

    // BUY AND BID BUTTONS
    .actions {
      flex-wrap: wrap;
      justify-content: space-between;

    }
  }