@import '/src/scss/utils/_mixins.scss';

form {
  text-align: center;
}

// hides search above text on search bar
.ng-touched span {
  display: none;
}

// hits search bar, etc.
mat-label,
input,
mat-hint,
mat-form-field,
.mat-input-element::placeholder,
.mat-form-field-required-marker {
  @include basic-precise-font($size: 1.25rem);
  font-family: Poppin, sans-serif;
  color: white;
  caret-color: white !important;
  text-decoration: white;

}

// CHANGES INPUT BORDER COLOR
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: gray !important;
}

// CHANGES BORDER COLOR ON FOCUS
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: white !important;
}

// HANDLING THE PLACEHOLDER TEXT AND DECORATIONS
// AS WELL AS AUTOFILL BACKGROUND
::ng-deep .mat-input-element {
  caret-color: white;
}