@import '/src/scss/utils/_mixins.scss';

@include remove-autofill-background;

.form-container {
  position: relative;
  width: 50vw;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 3;

  &::before {
    @include abs-top-left;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 100%),
      radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .1) 70%);
    z-index: -1;
    padding: 0;
    margin: 0;
    border-radius: inherit;
  }

  .mat-tab-group {
    // keep header at top
    position: absolute;
    top: 0;
    align-items: center;
    height: 100%;
    width: 50vw;

    form,
    .summary {
      @include flex-align-justify-direction($align: center, $direction: column);
      height: 100%;
      width: 50vw;
      gap: .5rem;
      padding-block-end: 7.5rem;

      &:first-child {
        margin-top: 1.5em;
      }

      .mat-form-field {
        width: 27.5vmin;
        text-align: center;

        .mat-input-element {
          transition: all ease-in .75s;
          margin: -.3em 0;
        }
      }
    }
  }
}

// hides form fields label when text is in field
// input.ng-dirty~.mat-form-field-label-wrapper>.mat-empty {
//   /* Apply styles to the label when the search input is dirty */
//   display: none;
// }


// hits search bar, etc.
input,
mat-hint,
mat-form-field,
.mat-input-element::placeholder,
.mat-form-field-required-marker {
  @include basic-precise-font($size: 1.6rem);
  color: white;
  caret-color: white !important;
  text-decoration: white;
  background: transparent;
  transition: all ease-out .75s;
}





// CHANGES INPUT BORDER COLOR
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  margin-bottom: 8px;
  color: gray !important;
}

// CHANGES BORDER COLOR ON FOCUS
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: white !important;
}

// HANDLING THE PLACEHOLDER TEXT AND DECORATIONS
// AS WELL AS AUTOFILL BACKGROUND
::ng-deep .mat-input-element {
  caret-color: white;
}

// changes to next buttons
form ::ng-deep .dg-button-wrapper {
  width: 8.5rem;
  height: 3rem;
  position: relative;
}

// changes font weight on submit button
form ::ng-deep .text-wrapper {
  font-weight: 200 !important;
  font-size: 2rem !important;
}
