* {
  color: white;
  font-family: "Nunito";
}

.container-fluid {
  height: calc(100vh - 5em);
}

.user-info-container {
  margin-top: 1.5em;
  margin-right: 1.5em;
  border-radius: 6px;
  color: white;
  text-align: center;
  width: 75vw;
  height: 80vh;
  filter: sepia(.1) saturate(1.2) brightness(.90);
  background: linear-gradient(101.23deg, rgba(131, 58, 180, 0.35) -3.44%, rgba(255, 0, 0, 0.35) 80.82%), linear-gradient(45.82deg, rgba(71, 29, 144, 0.8) -3.46%, rgba(255, 177, 29, 0.8) 146.44%), linear-gradient(301.57deg, rgba(12, 211, 255, 0.9) -21.51%, rgba(128, 232, 255, 0.9) 38.48%, rgba(128, 232, 255, 0.9) 167.32%), linear-gradient(73.25deg, #5C2E8C 24.07%, #3635DB 32.24%);
  gap: 5em;
  flex-wrap: wrap;
}

.top-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.transaction-table {
  width: 100%;
}

app-sidenav {
  position: absolute;
  top: 10%;
  right: 5%;
}

.button-container {
  margin-inline: auto;
  width: 280px;
  height: 80vh;
}

.first {
  top: 20%;
  position: absolute;
  display: inline-block;
  width: 280px;
  height: 70px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-image: linear-gradient(88.33deg, #3635AC 0.81%, #304B7E 51.46%, #471D90 102.11%);
}

.first::before {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background-image: linear-gradient(259.72deg, #34D1C8 33.56%, #FD241D 78.08%);
  border-radius: inherit;
  transition: all 0.2s;
  margin: 0;
  padding: 0;
}

.second {
  top: 37.5%;
  position: absolute;
  display: inline-block;
  width: 280px;
  height: 70px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-image: linear-gradient(85.69deg, rgba(71, 29, 144, 0.3) 1.1%, rgba(14, 14, 69, 0.3) 71.94%), linear-gradient(93.31deg, #833AB4 0%, #FD1D1D 53.39%, #FCB045 94.05%);
}

.second::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background-image: linear-gradient(180deg, #FCB045 0%, #77B388 100%);
  border-radius: inherit;
  transition: all 0.2s;
  margin: 0;
  padding: 0;
}

.third {
  top: 55%;
  position: absolute;
  display: inline-block;
  width: 280px;
  height: 70px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-image: linear-gradient(94.53deg, rgba(213, 117, 42, 0.7) 9.1%, rgba(119, 179, 136, 0.175) 89.58%), linear-gradient(95.71deg, rgba(14, 14, 69, 0.7) 19.97%, rgba(136, 181, 223, 0.7) 85.88%), linear-gradient(93.24deg, #77B388 0.65%, #D5752A 74.14%);
}

.third::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background-image: linear-gradient(93.58deg, #88B5DF 0%, #D5752A 100%);
  border-radius: inherit;
  transition: all 0.2s;
  margin: 0;
  padding: 0;
}

.fourth {
  top: 72.5%;
  position: absolute;
  display: inline-block;
  width: 280px;
  height: 70px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(91.5deg, rgba(71, 29, 144, 0.6) 1.28%, rgba(39, 91, 47, 0.6) 93.7%),
    linear-gradient(89.23deg, #275B2F 0.38%, #5B4C75 99.34%);
}

.fourth::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background-image: linear-gradient(180deg, #FD241D 0%, #77B388 100%);
  border-radius: inherit;
  transition: all 0.2s;
  margin: 0;
  padding: 0;
}

button {
  font-size: 1.6em;
  font-weight: 200 !important;
  color: lightgray;
}