@import '/src/scss/utils/variables';

* {
  color: white;
  font-family: "Nunito";
}

canvas {
  height: 150vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-container {
  height: auto;
  width: 100vw;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-content: center;

  .button-container {
    margin-inline: auto;
    width: 280px;
    height: 80vh;
    margin-left: .35em;
    position: relative; // Add this line to position the button wrappers absolutely
    z-index: 0; // Add this line to set the z-index value for the container

    .user-image {
      position: absolute;
      top: 1em;
      height: 13rem;
      width: 16rem;
      margin-inline: auto;
      border-radius: 6px;
    }

    .button-wrapper {
      position: absolute;
      width: 244px;
      height: 74px;
      padding: 2px;
      border-radius: 6px;
      overflow: hidden;
      z-index: 1;
      will-change: transform;
      background-color: $primary-dark;
      box-shadow: 0 0 4px rgba(255, 255, 255, 0.746);
      margin-right: .5em;

      // &:hover {
      //   transform: rotate3d(1, -1, 0, 20deg);
      //   transform: skew(-10deg, 10deg);
      // }
      // &.button-wrapper button {
      //   transition: transform .1s ease-out;
      //   transform-style: preserve-3d;
      // }

      // &.button-wrapper button::before,
      // .button-wrapper button::after {
      //   transform-style: preserve-3d;
      // }





      // BUTTONS AND BORDERS
      .tokens-button,
      .wallet-button,
      .collections-button,
      .create-button {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        outline: none;
        border: none;
        font-size: 1.4em;
        font-weight: 300 !important;
        color: lightgray;
        background-size: 150% 150%;
        animation: gradient 4s linear 5s infinite;

        // &:hover {
        //   transform: rotate3d(1, -1, 0, 20deg);
        //   transform: skew(-10deg, 10deg);
        // }

        .glass-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 6px;
          z-index: 2;
          padding: 0;
          margin: 0;
          background: linear-gradient(135deg, rgba(199, 199, 199, 0.303) 0%, rgba(189, 189, 189, 0.443) 100%),
            linear-gradient(90deg, rgba(0, 0, 0, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
            linear-gradient(180deg, rgba(0, 0, 0, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
            radial-gradient(circle at center, rgba(106, 106, 106, 0.15), rgba(105, 105, 105, 0.15) 70%);
        }

        .glass-wrapper::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 100%),
            radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .1) 70%);
          z-index: -1;
          border-radius: 6px;
          padding: 0;
          margin: 0;
        }

        .text-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 3;
          pointer-events: none; // Add this line to make sure the button is still clickable
          -webkit-font-smoothing: subpixel-antialiased;
          text-rendering: geometricPrecision;
        }
      }

      &.tokens-button-wrapper {
        top: 35%;

        .tokens-button {
          background-image: linear-gradient(88.33deg, #3635AC 0.81%, #304B7E 51.46%, #471D90 102.11%);
        }

        .tokens-button::before {
          background-image: linear-gradient(to right, #34D1C8 33.56%, #FD241D 78.08%);
        }

        .tokens-button::after {
          background-image: linear-gradient(to bottom, #34D1C8 33.56%, #FD241D 78.08%);
        }

      }

      &.wallet-button-wrapper {
        top: 54%;

        .wallet-button::before {
          background-image: linear-gradient(to right, #FCB045 0%, #77B388 100%);
        }

        .wallet-button::after {
          background-image: linear-gradient(to bottom, #FCB045 0%, #77B388 100%);
        }

        .wallet-button {
          background-image: linear-gradient(85.69deg, rgba(71, 29, 144, 0.3) 1.1%, rgba(14, 14, 69, 0.3) 71.94%), linear-gradient(93.31deg, #833AB4 0%, #FD1D1D 53.39%, #FCB045 94.05%);

        }
      }

      &.collections-button-wrapper {
        top: 73%;

        .collections-button {
          background-image: linear-gradient(94.53deg, rgba(213, 117, 42, 0.7) 9.1%, rgba(119, 179, 136, 0.175) 89.58%), linear-gradient(95.71deg, rgba(14, 14, 69, 0.7) 19.97%, rgba(136, 181, 223, 0.7) 85.88%), linear-gradient(93.24deg, #77B388 0.65%, #D5752A 74.14%);

          .collections-button::before {
            background-image: linear-gradient(to right, #88B5DF 0%, #D5752A 100%);
          }
        }

        .collections-button::after {
          background-image: linear-gradient(to bottom, #88B5DF 0%, #D5752A 100%);
        }
      }

      &.create-button-wrapper {
        top: 91%;

        .create-button::after {
          background-image: linear-gradient(to bottom, #FD241D 0%, #77B388 100%);
        }

        .create-button::before {
          background-image: linear-gradient(to right, #FD241D 0%, #77B388 100%);
        }

        .create-button {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            linear-gradient(91.5deg, rgba(71, 29, 144, 0.6) 1.28%, rgba(39, 91, 47, 0.6) 93.7%),
            linear-gradient(89.23deg, #275B2F 0.38%, #5B4C75 99.34%);
        }
      }

      .tokens-button::before,
      .wallet-button::before,
      .collections-button::before,
      .create-button::before,
      .tokens-button::after,
      .wallet-button::after,
      .collections-button::after,
      .create-button::after {
        position: absolute;
        content: '';
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        z-index: -1;
        border-radius: 6px;
        background-size: 150% 100%;
        transition: all .6s ease-in-out;
        // filter: hue-rotate(15deg);
        pointer-events: none;
        /* Add this line */
      }

      .tokens-button:hover::before,
      .wallet-button:hover::before,
      .collections-button:hover::before,
      .create-button:hover::before {
        // pointer-events: none;
        // transform: rotate(0.125turn);
        transform: rotate(60deg) scale(2.5);
        animation-timing-function: ease-out;
        // transform: rotate3d(50deg, 50deg);
      }

      .tokens-button:hover::after,
      .wallet-button:hover::after,
      .collections-button:hover::after,
      .create-button:hover::after {
        // pointer-events: none;
        // transform: rotate(0.125turn);
        transform: rotate(60deg) scale(2.5);
        animation-timing-function: ease-out;
      }
    }
  }
}

// MAIN UI

.user-info-container {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 80vh;
  position: relative;
  background: transparent;
  border-radius: 6px;
  overflow: hidden;
  margin-right: .75em;
  padding-bottom: 2em;
  // box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1), 0 4px 12px rgba(255, 255, 255, 0.1) inset, 0 0 20px rgba(255, 255, 255, 0.1) inset;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.002);
  }

  .tokens-section,
  .wallet-section,
  .collections-section,
  .create-section {
    transition: none;
    background: rgba(149, 149, 149, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 2px;

    &.hover {
      -webkit-animation: color-change-2x 2s linear infinite alternate both;
      animation: color-change-2x 2s linear infinite alternate both;
    }
  }

  .tokens-section {
    width: 100%;
    height: calc(18rem + 1.25rem);
    position: absolute;
    top: 0;
    left: 0;
  }

  .wallet-section {
    width: calc(50% - 1rem);
    height: calc((80vh - (18rem + 3.5rem)) / 2);
    position: absolute;
    top: calc(18rem + 2rem);
    left: 0;
    margin-right: 2em;
  }

  .collections-section {
    width: calc(50% - 1rem);
    height: calc((80vh - (18rem + 2rem)) / 2);
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 2em;
  }

  .create-section {
    width: 50%;
    height: calc(80vh - (18rem + 2rem));
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 2em;
  }
}


// ANIMATIONS
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-fast {
  0% {
    transform: translate(90, 90);
  }

  25% {
    transform: translate(180, 180);
  }

  50% {
    transform: translate(270, 270);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveGradientBorder {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(95%) translateY(0);
  }

  50% {
    transform: translateX(95%) translateY(95%);
  }

  75% {
    transform: translateX(0) translateY(95%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

// Update the mixin in the SCSS code:
@mixin floating-animation($name, $directionX, $directionY) {
  @keyframes #{$name} {

    0%,
    100% {
      transform: translate3d(0, 0, 0);
    }

    50% {
      transform: translate3d($directionX, $directionY, 0);
    }
  }
}

// Generate multiple animations
@include floating-animation(floating-1, -8px, -8px);
@include floating-animation(floating-2, 8px, 8px);
@include floating-animation(floating-3, -8px, 8px);
@include floating-animation(floating-4, 8px, -8px);

// Assign animations to classes
.floating-1 {
  animation: floating-1 6s ease-in-out infinite;
}

.floating-2 {
  animation: floating-2 7s ease-in-out infinite;
}

.floating-3 {
  animation: floating-3 8s ease-in-out infinite;
}

.floating-4 {
  animation: floating-4 9s ease-in-out infinite;
}



// NEED TO TURN THIS INTO MIXIN

/* ----------------------------------------------
 * Generated by Animista on 2023-5-9 14:57:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }

  100% {
    background: #b22cff;
  }
}

@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }

  100% {
    background: #b22cff;
  }
}