@import "/src/scss/utils/variables";
@import "/src/scss/utils/mixins";
@import "/src/scss/components/grad-buttons";
@import "/src/scss/utils/utilities";

// TODO need to abstract out all these styles
.ghost-button-wrapper {
  position: relative;
  background: linear-gradient(45deg, $secondary-light, $primary-dark, $secondary-dark);
  background-size: 200% 200%; // Ensures the background image is large enough to animate smoothly
  animation: gradient 8s linear infinite;
  border-radius: 4px;
  @include flex-center;

  @include glass-effect(
    linear-gradient(135deg, rgba(199, 199, 199, 0.303) 0%, rgba(189, 189, 189, 0.443) 100%),
    linear-gradient(90deg, rgba(197, 197, 197, 0.364) 0%, rgba(255, 255, 255, 0.424) 100%),
    linear-gradient(180deg, rgba(121, 121, 121, 0.364) 0%, rgba(255, 255, 255, 0.124) 100%),
    radial-gradient(circle at center, rgba(106, 106, 106, 0.15), rgba(105, 105, 105, 0.15) 70%)
  );
  @include glass-border(linear-gradient(135deg, #0a0a37a7, $background-dark));

  .ghost-button {
    background: #0a0a37;
    border-radius: 4px;
    filter: saturate(1.5);
    height: calc(100% - 4px);
    width: 100%;
    margin: 2px;

    &:hover {
      filter: revert;
    }

    .text-wrapper {
      @include flex-center;
      @include abs-top-left;
      @include flex-full-wh;
      z-index: 3;
      background: transparent;
      border-radius: 4px;
      pointer-events: none; // Add this line to make sure the button is still clickable
      filter: brightness(2);
    }
  }

  .glass-wrapper {
    @include full-wh-no-mrgpad($width: calc(100% - 4px), $height: calc(100% - 4px));
    margin-left: 2px;
    margin-top: 2px;
    opacity: 0.6;

    // * makes small border between
    // * button and actual border
    // * filter: blur(1px);

    filter: brightness(0.6) saturate(2.5);

    &::before {
      opacity: 0.7;
    }
  }
}
