@import '/src/scss/utils/variables';
@import '/src/scss/utils/mixins';
@import '/src/scss/components/grad-buttons';
@import '/src/scss/utils/utilities';

// @include glass-effect(linear-gradient(135deg, rgba(199, 199, 199, 0.303) 0%, rgba(189, 189, 189, 0.443) 100%),
//   linear-gradient(90deg, rgba(197, 197, 197, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
//   linear-gradient(180deg, rgba(121, 121, 121, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
//   radial-gradient(circle at center, rgba(106, 106, 106, 0.15), rgba(105, 105, 105, 0.15) 70%));
// @include glass-border;

.ghost-button {
  position: relative;
  border: none;
  background: transparent;
  outline: none;
  width: 100;
  height: 100%;
  overflow: hidden;
  z-index: 1;

  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: -2px;
  //   left: -2px;
  //   right: -2px;
  //   bottom: -2px;
  //   z-index: -1;
  //   background: linear-gradient(45deg, $secondary-dark, $primary-dark);
  // }

  // &::before {
  //   box-shadow: 0 0 5px 5px $secondary-light,
  //     0 0 10px 10px $primary-light,
  //     0 0 15px 15px transparent;
  //   border-radius: 10px;
  // }

  // &::after {
  //   background: none;
  //   background-color: $glass-effect; // Substitute with your glass effect color or gradient
  //   opacity: 0.5;
  // }
}


.ghost-button-wrapper {
  position: relative;
  background: transparent;
  border: none;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(45deg, $secondary-dark, $primary-dark);
  }

  &::before {
    box-shadow: 0 0 5px 5px $secondary-light,
      0 0 10px 10px $primary-light,
      0 0 15px 15px transparent;
    border-radius: 10px;
  }

  &::after {
    background: none;
    background-color: $glass-effect; // Substitute with your glass effect color or gradient
    opacity: 0.5;
  }

  .glass-wrapper {
    border-radius: 6px;
    opacity: .45;
  }

  .text-wrapper {
    @include flex-center;
    @include abs-top-left;
    @include flex-full-wh;
    z-index: 3;
    pointer-events: none; // Add this line to make sure the button is still clickable
  }
}
