.container-fluid {
  padding-inline: 0;
  overflow-y: scroll !important;
}


body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#container {
  position: relative;
  height: auto;
  overflow: hidden;
}

canvas {
  overflow: hidden;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: .7;
}

@media (min-width: 1000px) {
  app-new-nav {
    display: none;
  }
  app-navbar {
    display: block;
  }
}

@media (max-width: 999px) {
  app-new-nav {
    display: block;
  }
  app-navbar {
    display: none;
  }
}