<!-- TODO need to pull the array of fields
* and their values from state, iterate over them
* and display them to be validated by the user.
* editable? -->
<h2 class="summary-header">Summary</h2>
<div class="summary-tab-content">
  <div class="required-container">
    <div class="fields-container">
      <div class="summary-field required-field" *ngFor="let key of objectKeys(summary.requiredFields)">
        <p class="key-text ">
          <strong>{{key | fromCamelCase}}:</strong>
        </p>
        <p class="value-text">
          {{summary.requiredFields[key]}}
        </p>
      </div>
    </div>
  </div>
  <div class="optional-container">
    <div class="fields-container">
      <div class="summary-field optional-field" *ngFor="let key of objectKeys(summary.optionalFields)">
        <p class="key-text ">
          <strong>{{key | fromCamelCase}}:</strong>
        </p>
        <p class="value-text">
          {{summary.optionalFields[key]}}
        </p>
      </div>
    </div>
  </div>
</div>
