@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';

.summary-tab-content {
  height: 30vh;
  width: 50vw;
  overflow-y: hidden;
  text-align: flex-start;

  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .optional-container>.fields-container {
    height: 50px;
  }


  .required-container {
    background: green;
  }

  .fields-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 60%;
    margin-top: 3rem;

    .key-text {
      color: orange;
      margin: 12px 24px;
    }
  }

  .optional-container {
    height: 100px !important;
  }


  .tab-header {
    color: $text-primary-dark;
    text-align: center;
  }
}

.summary-header {
  @include basic-bold-font($size: 2.25rem, $align: center);
}
