<!-- TODO need to pull the array of fields
* and their values from state, iterate over them
* and display them to be validated by the user.
* editable? -->
<div>
  <h2>Summary</h2>

  <h3>Required Fields</h3>
  <div *ngFor="let key of objectKeys(summary.requiredFields)">
    <strong>{{key}}:</strong> {{summary.requiredFields[key]}}
  </div>

  <h3>Optional Fields</h3>
  <div *ngFor="let key of objectKeys(summary.optionalFields)">
    <strong>{{key}}:</strong> {{summary.optionalFields[key]}}
  </div>
</div>