

<div container="fluid">
<div class="table-responsive">
  <table class="table">
      <thead>
          <tr>
              <th class="text-center"></th>
              <th>NFT</th>
              <th class="th-description">Collection</th>
              <th class="th-description">Created On</th>
              <th class="text-right">For Sale</th>
              <th class="text-right">Last Price</th>
              <th class="text-right">Sale Price</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                  <div class="img-container">
                      <img src="https://i.pinimg.com/originals/fa/41/b4/fa41b4b61fbe2bc402e98da71a9d7b34.png" width="300px" alt="...">
                  </div>
              </td>
              <td class="td-name">
                  <a href="#jacket">Stupid Pony</a>
                  <br><small>by Creator Name</small>
              </td>
              <td>
                  Ponies
              </td>
              <td>
                  11/12/2021
              </td>
              <td class="">
                No
              </td>
              <td class="td-number">
                $30000
              </td>
              <td class="td-number">
                NA
              </td>
              <td>
                  <button>Buy</button>
                  <button>Sell</button>
                  <button>Favorite</button>
              </td>
          </tr>
      </tbody>

  </table>
</div>
<button>Close</button>
</div>
