

<div class=" card">
  <div class=" card-header"><h3 class=" title">NFT </h3></div>
  <div class=" card-body">
<div>
  <table class="table">
        <thead>
            <tr>
                <th class="text-left">Media</th>
                <th class="text-left">NFT</th>
                <th class="text-left">Collection</th>
                <th class="text-left">Created On</th>
                <th class="text-left">For Sale</th>
                <th class="text-right">Last Price</th>
                <th class="text-right">Sale Price</th>
                <th></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="img-container justify-content-center">
                        <img src="https://i.pinimg.com/originals/fa/41/b4/fa41b4b61fbe2bc402e98da71a9d7b34.png" width="30px" alt="...">
                    </div>
                    <small>click to enlarge/play</small>
                </td>
                <td class="td-name">
                    <a href="#">Stupid Pony</a>
                    <br><small>by Creator Name</small>
                </td>
                <td>
                    Ponies
                </td>
                <td>
                    11/12/2021
                </td>
                <td class="">
                  No
                </td>
                <td class="td-number text-right">
                  $30000
                </td>
                <td class="td-number text-right">
                  NA
                </td>
                <td></td>
                <td>
                    <button>Buy</button>
                    <button>Sell</button>
                    <button>Favorite</button>
                </td>
            </tr>
        </tbody>

    </table>
  </div>
  <button>Close</button>
  </div>
