<div @slideInTop class="register-container">
  <form class="register-form-container" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && submit()">
    <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
      <mat-tab label="Required Info">
        <!-- First Tab - Required Info -->
        <div class="tab-content">
          <!-- Email Field -->
          <div class="left-container">

            <mat-form-field class="form-field">
              <mat-label>email</mat-label>
              <input type="email" matInput #email formControlName="email">
            </mat-form-field>

            <!-- Username Field -->
            <mat-form-field class="form-field">
              <mat-label>username</mat-label>
              <input type="text" matInput formControlName="username">
            </mat-form-field>
          </div>
          <div class="right-container">

            <!-- Password Field -->
            <mat-form-field class="form-field">
              <mat-label>password</mat-label>
              <input type="password" matInput formControlName="password" required>
            </mat-form-field>

            <!-- Confirm Password Field -->
            <mat-form-field class="form-field">
              <mat-label>confirm password</mat-label>
              <input type="password" matInput formControlName="confirmPassword" required>
            </mat-form-field>

            <!-- Password Match Error -->
            <!-- need to fix in .ts -->
            <div class="text-danger">Passwords do not match</div>

          </div>
        </div>
        <!-- Next Button-->
        <app-double-grad-button label="next" class="grad-button dg-button dg-button-next" (click)="nextTab()"></app-double-grad-button>
      </mat-tab>

      <mat-tab label="Optional Info">
        <!-- Second Tab - Optional Info -->
        <div class="tab-content">

          <div class="left-container">
            <!-- Email Field -->
            <mat-form-field class="form-field">
              <mat-label>display name</mat-label>
              <input matInput formControlName="displayName">
            </mat-form-field>

            <!-- Username Field -->
            <mat-form-field class="form-field">
              <mat-label>biography</mat-label>
              <textarea matInput formControlName="biography"></textarea>
            </mat-form-field>
          </div>
          <div class="right-container">
            <!-- Password Field -->
            <mat-form-field class="form-field">
              <mat-label>profile picture (url)</mat-label>
              <input matInput formControlName="pictureUrl">
            </mat-form-field>

            <!-- Confirm Password Field -->
            <mat-form-field class="form-field">
              <mat-label>wallet address</mat-label>
              <input matInput formControlName="wallet">
            </mat-form-field>
          </div>

          <!-- Back Button -->
          <app-double-grad-button label="back" class="grad-button dg-button dg-button-back" (click)="previousTab()"></app-double-grad-button>

          <!-- Next Button -->
          <app-double-grad-button label="next" class="grad-button dg-button dg-button-next" (click)="nextTab()"></app-double-grad-button>

        </div>
      </mat-tab>

      <mat-tab label="Validation">
        <!-- Third Tab - Validation -->
        <div class="summary">
          <h2>Summary:</h2>
          <div class="info-container">
            <div class="left-container">
              <p><b>Email</b> <br> {{registerUser.email}}</p>
              <p><b>Username</b> <br> {{registerUser.username}}</p>
              <p><b>Display Name</b> <br> {{registerUser.displayName}}</p>
            </div>
            <div class="right-container">
              <p><b>Biography</b><br> {{registerUser.biography}}</p>
              <p><b>Profile Picture URL</b> <br> {{registerUser.pictureUrl}}</p>
              <p><b>Wallet Address</b> <br> {{registerUser.wallet}}</p>
            </div>
          </div>

          <!-- Terms and Conditions -->
          <mat-checkbox [checked]="true" formControlName="termsAccepted">I accept the Terms and Conditions</mat-checkbox>

          <!-- Submit Button -->
          <app-double-grad-button matButton label="Submit" class="grad-button dg-button dg-button-register" (click)="submit()"></app-double-grad-button>

          <!-- Back Button -->
          <app-double-grad-button label="back" class="grad-button dg-button dg-button-register" (click)="submit()"></app-double-grad-button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>