@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';
@import '/src/scss/components/forms/forms';
@import '/src/scss/components/forms/labels';

.register-container {
  // gives the container its background
  @include button-gradient(linear-gradient(180deg, rgba($primary-dark, .95), rgba($primary-light, .95)));
  width: 50vw;
  height: 55vh;
  border-radius: 2px;
  overflow: hidden;
  opacity: .8;

  .form-container {
    // basic flex stylings
    @include flex-align-justify-direction($justify: space-between, $align: center, $direction: row);
    width: 100%;
    height: 100%;

    mat-tab-group {
      mat-tab {
        // ensure full height
        height: 55vh;

        .dg-button-next {
          position: relative;
          top: 0;
          right: 0;
        }

        .tab-content {
          // make it flex container
          display: flex;
          height: 100%;

          .left-container,
          .right-container {
            // flex: 1 will ensure both left and right container share the space equally
            flex: 1;

            // if you want items to take full height as well
            height: 100%;
          }
        }
      }
    }

    .summary {
      width: 50vw;
      height: 55vh;

      .info-container {
        width: 80%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-inline: auto;

        .left-container,
        .right-container {
          flex: 50%;
          @include flex-align-justify-direction($align: center, $justify: space-between, $direction: column);
        }
      }
    }
  }
}

.grad-button {
  margin-top: -1rem;
}