@import "/src/scss/utils/mixins";
@import "/src/scss/utils/variables";

.summary-tab-content {
  @include flex-align-justify-direction($direction: column, $align: center, $justify: center);
  @include full-wh-no-mrgpad;
  overflow-y: auto;
  overflow-x: hidden;

  .section-container {
    background-color: rgba($background-dark, .8);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-block: 0.5rem;
    margin-inline: auto;
    width: 90%;
    height: 40%;

    .section-header {
      @include basic-bold-font($align: center);
      @include responsive-font($minSize: 1.5rem, $maxSize: 2rem, $minViewport: 366px, $maxViewport: 1366px);
      margin-block: 0.5rem;
    }

    .fields-container {
      @include flex-align-justify-direction($direction: column);

      .summary-field {
        margin-bottom: 0.75rem;

        .key-text {
          @include basic-bold-font($align: left);
          display: block;
          white-space: nowrap;
          overflow: scroll;
          width: 100%;
          margin: 6px 0;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  .required-container {
    margin-top: 1rem;
  }

  app-double-grad-button {
    transform: scale(0.8);
    margin-bottom: 1rem;
  }
}
