@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';

.summary-tab-content {
  height: 60%;
  width: 88%;
  padding-left: 5rem;
  overflow-y: auto;
  overflow-x: hidden;


  .fields-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    max-width: 50vw;

    .summary-field {
      height: 80px;
      width: 100%;

      .key-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: normal;
        color: orange;
        width: 90%;
        margin: 6px 24px;

        &::-webkit-scrollbar {
          display: none;
        }
      }

    }
  }

  .tab-header {
    color: $text-primary-dark;
    text-align: center;
  }
}

.summary-header {
  @include basic-bold-font($size: 2.25rem, $align: center);
  margin-top: 0;
  margin-bottom: 1rem;
}

.optional-container,
.required-container {
  width: 25vw;
}
