@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';


@include glass-effect(linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 100%),
  radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .1) 70%));

.register-container {
  @include bg-gradient(linear-gradient(180deg, rgba($primary-dark, .95), rgba($primary-light, .95)));

  width: 50vw;
  height: 65vh;
  border-radius: 2px;
  opacity: .95;

  .register-tab-container {
    height: 65vh;

    // TODO GPT says this is the only way, but
    // * need to investigate further
    &::ng-deep.mat-tab-label {
      width: 17vw;
      height: 50px;
      @include basic-precise-font($size: 1.3rem);
    }

    // * THIS WORKS
    // * literally cannot find another
    // * way to do this
    >::ng-deep.mat-tab-body-wrapper {
      overflow: hidden !important;
      height: 100% !important;
    }
  }

  .tab-nav-button {
    position: absolute;
    bottom: 5%;
  }

  .tab-nav-next {
    right: 5%;
  }

  .tab-nav-back {
    left: 5%;
  }

}

.dg-button-container {
  width: 50%;
  height: 70px;
  @include flex-align-justify-direction($align: flex-start, $justify: center);
  margin-top: 2em;
}

.summary-tab {
  overflow: hidden;
}