@import '/src/scss/components/forms/tabs';
@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';



.register-tab-container {
  width: 100%;
  height: 55vh;
  background: blue;
}

// TODO GPT says this is the only way, but
// need to investigate that claim further
// ::ng-deep.mat-tab,
// ::ng-deep.register-tab,
.register-tab-container ::ng-deep.mat-tab-label {
  width: 17vw;
  height: 50px;
  @include basic-precise-font($size: 1.3rem);
}


.register-tab-container ::ng-deep.mat-tab,
::ng-deep mat-tab,
::ng-deep .register-tab {
  height: 55vh;
  width: 50vw;
  background: black !important;
}
