@import "/src/scss/utils/mixins";
@import "/src/scss/utils/variables";
@import "/src/scss/components/grad-buttons";

.home-container {
  height: 92.5vh;
  @include flex-align-justify-direction($align: center, $direction: column, $justify: space-between);

  .header-cta-container {
    display: flex;
    width: 92%;

    .header-container {
      @include basic-precise-font($align: center);
      @include responsive-font(12px, 20px, 320px, 1366px);
      @include flex-align-justify-direction($align: center, $justify: center);
      width: 45%;
      height: 30vh;
      margin-left: 2rem;
    }

    .cta-container {
      @include flex-align-justify-direction($align: flex-end, $direction: column, $justify: flex-start);
      width: 85%;

      .token-list-header {
        @include basic-precise-font($align: start);
        @include responsive-font(18px, 36px, 320px, 1366px);
        width: 85%;
        margin-inline: auto;
      }

      .grad-button {
        margin-top: 2rem;
        margin-right: 1rem;
        align-self: center;
        color: $text-primary-dark;
      }
    }
  }

  .token-list-container {
    @include flex-align-justify-direction($align: flex-end, $justify: center, $direction: column);
    height: 100%;
    width: 100%;

    app-big-token-list {
      height: 30em;
      width: 80%;
      margin-inline: auto;
    }
  }

  .name-tag {
    text-decoration: none;
    position: absolute;
    bottom: 0;
  }
}
