@import "/src/scss/utils/mixins";
@import "/src/scss/utils/variables";
@import "/src/scss/components/grad-buttons";

.home-container {
  height: 92.5vh;
  @include flex-align-justify-direction($align: center, $direction: column);

  .header-token-container {
    @include flex-align-justify-direction($justify: space-between, $direction: row);
    height: 50%;
    width: 100%;

    .header-container {
      @include basic-precise-font($size: 1.9rem, $align: center);
      @include flex-align-justify-direction($align: center, $justify: center);
      @include rel-top-left($left: 5%);
      width: 30%;
      height: 35vh;

      margin-top: 2rem;
    }

    .token-list-container {
      height: 100%;
      width: 100%;
      @include flex-align-justify-direction($align: flex-end, $justify: center, $direction: column);

      app-big-token-list {
        height: 30em;
        width: 80%;
        margin-inline: auto;
      }
    }
  }

  .cta-container {
    width: 85%;
    display: flex;

    .token-list-header {
      width: 70%;
      @include basic-precise-font($size: 3.25rem, $align: start);
    }

    .grad-button {
      width: 30%;
      margin-top: 2rem;
      color: $text-primary-dark;
    }
  }

  .name-tag {
    position: absolute;
    bottom: 0;
  }
}
