@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';

// hello



.register-container {
  border-radius: 2px;
  width: 70vw;
  height: 75vh;
  overflow: hidden;
  @include button-gradient(linear-gradient(180deg, rgba($primary-dark, .95), rgba($primary-light, .95)));
  @include glass-effect(linear-gradient(135deg, rgba(91, 91, 91, 0.379) 0%, rgba(145, 145, 145, 0.432) 100%),
    linear-gradient(90deg, rgba(146, 146, 146, 0.164) 0%, rgba(255, 255, 255, 0.124) 80%),
    linear-gradient(180deg, rgba(0, 0, 0, 0.164) 0%, rgba(0, 0, 0, 0.124) 80%),
    radial-gradient(circle at center, rgba(66, 66, 66, 0.15), rgba(105, 105, 105, 0.15) 70%));


  .form-container {
    position: relative;
    width: 60vw;
    height: 80vh;
    margin: auto;
    background: orange;
    z-index: 3;
  }

  .glass-wrapper {

    transition: none;
    width: 100%;
    position: relative;
    margin: auto;
    height: 75vh;
    opacity: .9;
    border-radius: 0px;
  }
}