@import '/org/src/scss/utils/mixins';
@import '/org/src/scss/utils/variables';

.form-container {
  @include flex-align-justify-direction($direction: column, $justify: space-evenly);
  width: 100%;
  height: 100%;
  margin-inline: auto;

  app-form-field {
    width: 60%;
    margin: .25rem auto;

    ::ng-deep mdc-tab__text-label {
      font-size: 2rem;
      color: $text-primary-dark;
    }

    ::ng-deep .mat-mdc-form-field-required-marker {
      display: none;
    }

    // * changes small form label
    // * in its different states
    ::ng-deep .ng-valid mat-mdc__text-label,
    ::ng-deep .ng-pristine mat-mdc__text-label,
    ::ng-deep .mat-mdc-focused mat-mdc__text-label {
      color: $secondary-light;
    }
  }
}