// @import '/org/src/scss/components/forms/forms';

@import "/org/src/scss/utils/mixins";
@import "/org/src/scss/utils/variables";
@import "/org/src/scss/components/forms/tabs";

.register-tab-container {
  width: 55vw;
  height: 120px;
  background: $primary-dark;
  border-radius: 2px;

  position: relative;
  left: 42.5%;
  margin: 1em;
  margin-top: 3em;

  mat-tab,
  mat-tab-label,
  .mat-mdc-tab,
  .mat-mdc-tab-label {
    width: 17vw;
    @include basic-precise-font();
    @include responsive-font(1.2rem, 1.4rem, 320px, 1366px);
  }
}
