@import '/src/scss/utils/variables';
@import '/src/scss/utils/mixins';

.form-field-large {
  width: 100%;
  margin-inline: auto;
  @include basic-precise-font($size: 1.6rem);

  // * this works btw
  // * doesn't even bleed over
  ::ng-deep mat-label {
    @include basic-precise-font($size: 1.6rem);
    letter-spacing: .05rem;
  }
}
