<mat-tab class="register-tab" label=label>
  <!-- First Tab - Required Info -->
  <div class="tab-content">
    <!-- Email Field -->
    <div class="left-container">
      <app-form-field label="email"></app-form-field>

      <mat-form-field class="form-field">
        <mat-label>email</mat-label>
        <input type="email" matInput #email>
      </mat-form-field>

      <!-- Username Field -->
      <mat-form-field class="form-field">
        <mat-label>username</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
    <div class="right-container">

      <!-- Password Field -->
      <mat-form-field class="form-field">
        <mat-label>password</mat-label>
        <input type="password" matInput required>
      </mat-form-field>

      <!-- Confirm Password Field -->
      <mat-form-field class="form-field">
        <mat-label>confirm password</mat-label>
        <input type="password" matInput required>
      </mat-form-field>

      <!-- Password Match Error -->
      <!-- need to fix in .ts -->
      <div class="text-danger">Passwords do not match</div>

    </div>
  </div>
  <!-- Next Button-->
  <app-double-grad-button label="next" class="grad-button dg-button dg-button-next"></app-double-grad-button>
</mat-tab>