@import '/src/scss/utils/variables';


.large-purchase-button {
  width: 50%;
  text-align: center;
  height: 100%;
  font-family: "Nunito";
  color: #e7e7e7;
  filter: brightness(2);
  font-size: 1.5em;
  margin: 0;
  opacity: 1;

  &:hover {
    color: $text-secondary-dark;
  }

  &.large-purchase-button-bid {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &.large-purchase-button-buy {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  &.large-purchase-button:hover {
    transition: opacity .2s;
    background-color: hsla(262, 66%, 34%, 0.6);
  }



  // border
  .large-purchase-button-buy::before {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0%;
    right: -2px;
    width: 2px;
    height: 102.5%;
    z-index: -1;
    border-radius: 6px;
    background-image: linear-gradient(to right, #34D1C8 33.56%, #FD241D 78.08%);
    background-size: 150% 100%;
    transition: all .8s ease-in-out;
    // filter: hue-rotate(15deg);
    pointer-events: none;
  }
}