@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';

.tab-content {
  height: 80%;
  width: 88%;
  padding-left: 5rem;
  overflow-y: auto;
  overflow-x: hidden;

  .form-container {
    @include flex-full-wh;
    @include rel-top-left($top: 7%, $left: 7%);
    justify-content: space-between;
    flex-direction: column;
    height: 90%;

  }

  .form-field {

    // * this works btw
    // * doesn't even bleed over
    ::ng-deep mat-label {
      letter-spacing: .05rem;
      color: orange;
    }
  }

  .required-label,
  .text-danger {
    @include basic-precise-font($size: 1.45rem);
  }

  .text-danger {
    color: $warning-color;
  }

  .required-label {
    color: $secondary-light;
  }


  .labels-container {
    position: relative;
    bottom: -30%;
    width: 90%;
    text-align: right;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

}
