@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';

@include remove-autofill-background;

.tab-content {
  height: 80%;
  width: 88%;
  padding-left: 5rem;
  overflow-y: auto;
  overflow-x: hidden;


  .form-field {
    width: 65%;
    margin-inline: auto;
    @include basic-precise-font($size: 1.3rem);
    color: green;
    padding-left: 2em;

    &:last-child {
      padding-bottom: 5rem;
    }


    // * this works btw
    // * doesn't even bleed over
    ::ng-deep mat-label {
      @include basic-precise-font($size: 1.3rem);
      letter-spacing: .05rem;
      color: green;
    }
  }

  .required-label,
  .text-danger {
    @include basic-precise-font($size: 1.45rem);
  }

  .text-danger {
    color: $warning-color;
  }

  .required-label {
    color: $secondary-light;
  }


  .labels-container {
    grid-column: 2;
    width: 90%;
    text-align: right;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

}
