<div class="tab-content">
  <div class="form-container">
    <app-form-field class="form-field" [size]="'large'" [type]="'email'" [label]="'email'" [control]="getControl('email')" [placeholder]="''"></app-form-field>
    <app-form-field class="form-field" [size]="'large'" [type]="'text'" [label]="'username'" [control]="getControl('username')" [placeholder]="''"></app-form-field>
    <app-form-field class="form-field" [size]="'large'" [type]="'password'" [label]="'password'" [control]="getControl('password')" [placeholder]="''"></app-form-field>
    <app-form-field class="form-field" [size]="'large'" [type]="'password'" [label]="'confirm password'" [control]="getControl('confirmPassword')" [placeholder]="''"></app-form-field>
  </div>

  <div class="labels-container">
    <mat-label class="text-danger">* Passwords do not match</mat-label>
  </div>
  <!-- * Password Match Error -->
  <!-- * need to fix in .ts -->

</div>
