/* .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
} */
.card {
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  border: 0;
  border-radius: 1rem;
}

.actionLink {
  color: rgb(255, 255, 255) !important;
  background-color: violet !important;
  border-radius: 8px;
  max-height: 40px;
  border: none;
  padding: 0.5rem;
}

/* STUFF WILL ADDED */

@media (min-width: 1024px) {
  .item--wrapper {
      flex-direction: row;
  }
  .item--wrapper {
      display: flex;
      flex-direction: column;
  }
  *, ::before, ::after {
      box-sizing: border-box;
  }
  div {
      display: block;
  }
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.item-container {
  height: 50vh;
  background-color: aquamarine;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transaction-table {
  height: 80%;
  background: gray;
  border-radius: 10px;
}

.token-history {
  border-radius: 10px;
  width: 25%;
  justify-content: center;
  background-color:darkcyan;
}







/* ENDS HERE */
