
<br>
<br>


      <!-- //////////////////////////// -->
      <div class="col">
        <div class="card h-100 shadow-sm" style="width: 25rem">

          <div class="card-header"><img class="imgsize"
              src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg"/>
          </div>
          <div>


          </div>
          <div class="card-body">
            <h1>Token Id :</h1>
            <h2>Token Name :</h2>
            <h2>Offer Price: </h2>


            </div><br>

            <div class="form-group">
              <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
            </div>



          <div class="card-footer">
            <div class="text-center my-4">

              <button class="btn btn-primary" style="border-radius: 12px" routerLink='/bid'>
              Bid
              </button>

              <button class="btn btn-primary" style="border-radius: 12px" routerLink='/buy'>
               Buy
                </button>
            </div>

          </div>
        </div>
</div>
<!-- //////////////////////////// -->
<h1>TRANSACTIONS TABLE</h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>id</th>
    <th>description</th>
    <!-- description:string;
    buyer: User;
    seller: User;
    token: Token; -->


    <th>buyer</th>
    <th>seller</th>
    <th>token</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let transaction of tokenTransactions">
    <td>{{ transaction.id }}</td>
    <td>{{ transaction.description }}</td>
    <!-- <td>{{ transaction.buyer }}</td>
    <td>{{ transaction.seller }}</td> -->
    <td>{{ transaction.token }}</td>

  </tr>
</tbody>
</table>



<h1>BIDS TABLE</h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>id</th>
    <th>description</th>
    <!-- description:string;
    buyer: User;
    seller: User;
    token: Token; -->


    <th>buyer</th>
    <th>seller</th>
    <th>token</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let bid of bids">
    <td>{{ bid.id }}</td>
    <td>{{ bid.description }}</td>
    <td>{{ bid.buyer }}</td>
    <td>{{ bid.seller }}</td>
    <td>{{ bid.token }}</td>
    <td>{{ bid.transaction }}</td>

  </tr>
</tbody>
</table>
