.actionLink {
  margin: 5px;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(114, 0, 104) !important;
  border-radius: 8px;
  max-height: 40px;
  border: none;
  padding: 0.5rem;
}

/* Card Styling */

.card-text{
  margin: 5px;
  margin-bottom: 15px;
}

.card-container {
  float: left;
  width: 50%;
  padding: 10px;
}

.item-container {
  height: 50vh;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 25em;
  margin-top: 1em;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 1rem;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
  height: 20em;
  width: 100%;
  background-color: white;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}


/* Text Styling */

.adjacent-text-container {
  background-color: aquamarine;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
}

.adjacent-text {
  margin-inline: 5px;
  color: white;
}









@media (min-width: 1024px) {
  .item--wrapper {
      flex-direction: row;
  }
  .item--wrapper {
      display: flex;
      flex-direction: column;
  }
  *, ::before, ::after {
      box-sizing: border-box;
  }
  div {
      display: block;
  }
}
