<!--
<div id="tokenList" *ngIf='!selected'>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>description</th>
      <th>rarity</th>
      <th>price</th>
      <th>tokenLocation</th>
      <th>offered</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let token of tokens">
      <td>{{ token.id }}</td>
      <td>{{ token.name }}</td>
      <td>{{ token.description }}</td>
      <td>{{ token.rarity }}</td>
      <td>{{ token.price }}</td>
      <td>{{ token.tokenLocation }}</td>
      <td>{{ token.offered }}</td>

    </tr>
  </tbody>
</table>
</div> -->
<br>
<br>
      <div class="card" style="width: 25rem">
        <div id="tokenDetails" *ngIf="selected">

          <p>{{ selected.id }}</p>
          <p>Token: {{ selected.name }}</p>
          <p>Description: {{ selected.description }}</p>
          <p>Rarity: {{ selected.rarity }}</p>
          <p>Price: {{ selected.price }}</p>
          <p>Token Location: {{ selected.tokenLocation }}</p>
          <p>Offered: {{ selected.offered }}</p>
          <br>
          <div>
            <button>
          <a class="actionLink" routerLink='/bid' >Bid Now</a>
        </button>
        <button>
          <a class="actionLink" routerLink='/buy' [routerLinkActive]="['active', 'btn-primary']">Buy Now</a>
        </button>
        </div>
          <br>
        </div>
      </div>



<!--
<div id="tokenDetails" *ngIf="selected">
  <p>{{ selected.id }}</p>
  <p>Token: {{ selected.name }}</p>
  <p>Description: {{ selected.description }}</p>
  <p>Rarity: {{ selected.rarity }}</p>
  <p>Price: {{ selected.price }}</p>
  <p>Token Location: {{ selected.tokenLocation }}</p>
  <p>Offered: {{ selected.offered }}</p>
</div> -->
