h2 {
  font-weight: 300;
}

.card-container {

  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
}

.card {
  background-color: #413D47;
  color: #ececec;
  width: 20rem;
}

.links-container {
  display: flex;
  justify-content: space-around;
}

fa-icon {
  transition: ease-out .3s;
  transform: translateY(2px);
  color: #a2a2a2;

  &:hover {
    color: #5B4C75;
    display: inline-block;
    transition: .5s;
    transform: translateY(-2px);
  }
}

img {
  border-radius: 4px;
  width: 16rem;
}