<div class="container-fluid">
  <div class="card-container d-flex">
    <div class="card">
      <div class="card-header d-flex justify-content-center">
        <img src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg" alt="card image">
      </div>
      <div class="card-body text-center">
        <h2 class="card-title">Caleb Gardner<br>DBA/Backend Developer</h2>
      </div>
      <div class="card-footer">
        <div class="text-center links-container">
          <a href="https://www.linkedin.com/in/caleb-gardner-1972b6211/">
            <fa-icon [icon]="faLinkedin" size="3x"></fa-icon>
          </a>
          <a href="https://github.com/cgardner90">
            <fa-icon [icon]="faGithub" size="3x"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header d-flex justify-content-center">
        <img src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg" alt="card image">
      </div>
      <div class="card-body text-center">
        <h2 class="card-title">Caleb Gardner<br>DBA/Backend Developer</h2>
      </div>
      <div class="card-footer">
        <div class="text-center links-container">
          <a href="https://www.linkedin.com/in/caleb-gardner-1972b6211/">
            <fa-icon [icon]="faLinkedin" size="3x"></fa-icon>
          </a>
          <a href="https://github.com/cgardner90">
            <fa-icon [icon]="faGithub" size="3x"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header d-flex justify-content-center">
        <img src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg" alt="card image">
      </div>
      <div class="card-body text-center">
        <h2 class="card-title">Caleb Gardner<br>DBA/Backend Developer</h2>
      </div>
      <div class="card-footer">
        <div class="text-center links-container">
          <a href="https://www.linkedin.com/in/caleb-gardner-1972b6211/">
            <fa-icon [icon]="faLinkedin" size="3x"></fa-icon>
          </a>
          <a href="https://github.com/cgardner90">
            <fa-icon [icon]="faGithub" size="3x"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header d-flex justify-content-center">
        <img src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg" alt="card image">
      </div>
      <div class="card-body text-center">
        <h2 class="card-title">Caleb Gardner<br>DBA/Backend Developer</h2>
      </div>
      <div class="card-footer">
        <div class="text-center links-container">
          <a href="https://www.linkedin.com/in/caleb-gardner-1972b6211/">
            <fa-icon [icon]="faLinkedin" size="3x"></fa-icon>
          </a>
          <a href="https://github.com/cgardner90">
            <fa-icon [icon]="faGithub" size="3x"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>