@import '/src/scss/utils/variables';

/* Global styles */

/* Grid container */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }
}
