@import '/src/scss/utils/mixins';
@import '/src/scss/utils/variables';


.login-container {
  @include bg-gradient(linear-gradient(180deg, rgba($primary-dark, .95), rgba($primary-light, .95)));
  filter: grayscale(.5);

  width: 50vw;
  height: 65vh;
  border-radius: 2px;
  opacity: .95;
  display: flex;
  flex-direction: column;

  .login-header {
    @include basic-precise-font($size: 2.1rem, $align: center);
    width: 100%;
    height: 10%;
  }

  app-login-form {
    width: 100%;
    height: 70%;
  }

  app-social-media-container {
    position: relative;
    right: 2%;
    margin-bottom: 2rem;
  }

  .submit-button {
    position: relative;
    top: -15%;
    left: 25%;
  }

}