<!-- Registration Page HTML Template -->
<div @slideInTop class="register-container gradient-light text-white container-fluid w-50">
  <div class="card-header">
    <h4 class="text-center form-header" style="font-weight: 300;">Registration</h4>
  </div>
  <div class="card-body w-100 d-flex justify-content-center flex-column align-items-center">
    <form class="form-container">
      <!-- Email Field -->
      <mat-form-field [ngClass]=" {'white-text': true}" class="w-75 ">
        <mat-label>Email</mat-label>
        <input autofocus matInput type="email" [(ngModel)]="registerUser.email" (ngModelChange)="registerUser.email" name="email" required>
      </mat-form-field>

      <!-- Username Field -->
      <mat-form-field class="w-75" color="secondary">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="registerUser.username" (ngModelChange)="registerUser.username" name="username" required>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field class="w-75">
        <mat-label>Password</mat-label>
        <input matInput color="white" type="password" [(ngModel)]="registerUser.password" name="password" required>
      </mat-form-field>

      <!-- Confirm Password Field -->
      <mat-form-field class="w-75">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </mat-form-field>

      <!-- Password Match Error -->
      <div *ngIf="registerUser.password != confirmPassword" class="text-danger">Passwords do not match</div>

      <!-- Register Button -->
      <button mat-raised-button color="primary" style="font-weight: 300;" class="w-50 mt-4 shadow-none register-button" (click)="register()">Register</button>
      <button mat-icon-button class="close-button" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </form>
  </div>
</div>