.mat-form-field {
  line-height: 1.5;
}

.register-button {
  margin: 1.5em auto 3.5em;

  &:hover {
    transition: ease .4s;
    transform: scale(1.015);
  }
}

.form-header {
  margin: 1em 0;
}

.close-button {
  position: absolute;
  top: 2em;
  right: 2em;
  transform: translate(50%, -50%);
}

.register-container {
  min-width: 35vw;
  width: 60vmin;
  border-radius: 10px;
  padding-top: 2em;
  position: relative;
}

.form-container {
  width: 40vmin;
}

.card-header {
  margin-top: -.25em;
}

input {
  margin: .5em auto;
}

// CHANGES BACKGROUND OF AUTOFILL AND AUTOFILL TEXT (sort of, Chrome has issues
// when hovering over suggestions.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}