.register-container {
  width: 60%;
  border-radius: 10px;
  text-align: center;
}




/* register.component.scss */

/* Custom styles for the register form */
.register-card {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.register-form-field {
  width: 100%;
  margin-bottom: 24px;
}

.register-button {
  width: 100%;
  height: 48px;
  border-radius: 5px;
}

/* Animation styles for the register button */
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}







// HANDLING THE PLACEHOLDER TEXT AND DECORATIONS
// AS WELL AS AUTOFILL BACKGROUND

mat-label,
input,
mat-hint,
mat-form-field,
::placeholder,
.mat-form-field-required-marker {
  color: white;
  font-size: x-large;
  // font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: Poppin, sans-serif;
  font-weight: 300;
  caret-color: white !important;
  text-decoration: white;
}

mat-button {
  transition: none !important;
  box-shadow: none !important;
}

// CHANGES BACKGROUND OF AUTOFILL AND AUTOFILL TEXT (sort of, Chrome has issues
// when hovering over suggestions.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}