// @import '/src/scss/components/tokens/big-card';
@import "/src/scss/utils/variables";
@import "/src/scss/utils/mixins";

:host {
  display: block;
  min-width: 24rem;
  min-height: 18rem;
  margin: 1rem;
  perspective: 1500px;
}

.full-size {
  @include full-wh-no-mrgpad;
  @include abs-top-left;
  border-radius: inherit;
}

.big-token-card {
  @include full-size;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 6px;
  background: transparent;
  backdrop-filter: brightness(0.9);

  .card-front {
    @include full-size;
    overflow: hidden;
    background-size: cover;
    border-radius: inherit;
    cursor: pointer;

    .image-wrapper {
      @include full-size;
      overflow: hidden;

      .card-img,
      .glass-pane {
        @include full-size;
      }

      .card-img {
        background: transparent;
        image-resolution: from-image;
        image-rendering: optimizeQuality;
        object-fit: cover;
      }

      .glass-pane {
        background: rgba(170, 170, 170, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: inherit;
        transition: 0.3s ease-in-out;
        z-index: 2;
      }
    }

    .card-details {
      @include full-size;
      z-index: 2;
      transition: 0.3s ease-in-out;
      opacity: 0;
      pointer-events: none;

      .card-img-title,
      .card-img-description {
        @include basic-precise-font($align: center, $weight: 500);
        @include responsive-font(1.2rem, 1.4rem, 320px, 1366px);
        margin: 8px 0;
        padding: 0;
        pointer-events: none;
      }

      .card-img-description {
        @include basic-precise-font($align: center, $height: 1.75rem);
        @include responsive-font(1.2rem, 1.4rem, 320px, 1366px);
        @include limit-paragraph-to-n-lines;
        width: 90%;
        margin-inline: auto;
        pointer-events: none;
      }
    }

    &:hover .glass-pane {
      background: rgba(0, 0, 0, 0.45) !important;
      opacity: 0.65;
    }

    &:hover .card-details {
      opacity: 1 !important;
    }

    &:hover .token-price {
      z-index: 2;
    }
  }

  .content {
    position: relative;
    top: 55%;

    .token-price {
      @include basic-bold-font($align: center, $weight: 400);
      @include responsive-font(1.4rem, 1.6rem, 320px, 1366px);
      position: relative;
      z-index: 1;
      width: 20%;
      margin-inline: auto;
      cursor: default;
    }
  }

  .actions {
    @include abs-bot-left(5px);
    @include full-wh-no-mrgpad;
    @include basic-precise-font();
    @include responsive-font(2.2rem, 2.4rem, 320px, 1366px);
    display: initial;
    height: 25%;
    cursor: default;
  }
}
