<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class="display-4 p-3" style="color: white;">{{user.username}} </div>
        <div class="display-4 p-3" style="color: white;">{{user.biography}}</div>
        <button class="btn btn-primary btn-fill" style="width:25%; margin-left: 1em;"  (click)="editProfile=!editProfile">Edit Profile</button>
        <div class=" card-body">
          <form *ngIf="editProfile">
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Email Address </label>
                  <input
                    class=" form-control"
                    type="text"
                    value="{{user.email}}"
                  />
                </div>
              </div>
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Username </label>
                  <input
                    class=" form-control"
                    type="text"
                    value="{{user.username}}"
                  />
                </div>
              </div>
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Role </label>
                  <input class=" form-control" type="text" value="{{user.role}}" />
                </div>
              </div>
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label>Profile Image</label>
                  <input
                    class=" form-control"
                    value="{{user.pictureUrl}}"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Wallet </label>
                  <input class=" form-control" type="text" value="Wallet ID" />
                </div>
              </div>

              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Facebook </label>
                  <input class=" form-control" type="text" value="www.facebook.com/JimmyG" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Twitter </label>
                  <input class=" form-control" type="text" value="@JimmyG" />
                </div>
              </div>

              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Google </label>
                  <input class=" form-control" type="text" value="JimmyGaroppolo@gmail.com" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-10">
                <div class=" form-group">
                  <label> About Me </label>
                  <textarea class=" form-control" cols="100" rows="4">{{user.biography}}
                  </textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="editProfile" class=" card-footer">
          <button class=" btn btn-fill btn-primary" type="submit">Save and Update</button>
        </div>
      </div>
    </div>

  <!-- /////////////////////////////PROFILE CARD///////////////////////////////////// -->
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img
                alt="..."
                class=" avatar"
                src="https://bit.ly/3GSu5vh"
              />

              <h5 class=" title">Username: {{user.username}}</h5>
              <h5 class=" title">Display Name: {{user.displayName}}</h5>
              <h5 class=" title">Email: {{user.email}}</h5>
              <h5 class=" title">Role: {{user.role}}</h5>
              <h5 class=" title">Wallet Balance: {{user.wallet}}</h5>
              <h5 class=" title">This will be a link to click on for tx</h5>

            </a>
            <p class=" description">{{user.biography}}</p>
          </div>
          <!-- <div class=" card-description">
            {{user.biography}}
          </div> -->
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook mr-1"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter mr-1"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////NFT HISTORY// //////////////////////////////////// -->
<div class=" card">
  <div class=" card-header"><h3 class=" title">NFT History</h3></div>
  <div class=" card-body">
<div>
  <table class="table">
    <thead>
      <!-- <tr><h1 justify-content-center>NFTs</h1></tr> -->
        <tr>
          <th>Media</th>
            <th class="text-center">Token</th>
            <th>Name</th>
            <th>Created On</th>
            <th>Purchase Date</th>
            <th>Sold Date</th>
            <th>Offered for Sale</th>
            <th class="text-right">Purchase Price</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td> <img src="https://i.pinimg.com/originals/fa/41/b4/fa41b4b61fbe2bc402e98da71a9d7b34.png" width="30px" alt="..."></td>
            <td class="text-center">1</td>
            <td>Tom Brady</td>
            <td>2000</td>
            <td>2012</td>
            <td>2013</td>
            <td>Yes</td>
            <td class="text-right">&dollar; 99,225</td>
            <td class="td-actions text-right">
              <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-single-02"></i>
              </button>
              <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-settings"></i>
              </button>
              <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-simple-remove"></i>
                </button>
            </td>
        </tr>
        <tr>
          <td> <img src="https://i.pinimg.com/originals/fa/41/b4/fa41b4b61fbe2bc402e98da71a9d7b34.png" width="30px" alt="..."></td>
            <td class="text-center">2</td>
            <td>Bart Star</td>
            <td>1967</td>
            <td>2012</td>
            <td>2013</td>
            <td>No</td>
            <td class="text-right">&dollar; 89,241</td>
            <td class="td-actions text-right">
              <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-single-02"></i>
              </button>
              <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-settings"></i>
              </button>
              <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-simple-remove"></i>
                </button>
            </td>
        </tr>
      </tbody>
</table>
</div>
</div>
</div>

<!-- //////////////////////////////NFT FAVORITES//////////////////////////////////// -->
<div class=" card">
  <div class=" card-header"><h3 class=" title">NFT Favorites 💛 </h3></div>
  <div class=" card-body">
<div>
  <table class="table">
    <thead>
      <!-- <tr><h1 justify-content-center>NFTs</h1></tr> -->
        <tr>
            <th class="text-center">Token</th>
            <th>Name</th>
            <th>Created On</th>
            <th>Purchase Date</th>
            <th>Sold Date</th>
            <th>Offered for Sale</th>
            <th class="text-right">Purchase Price</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">1</td>
            <td>Andrew Luck</td>
            <td>2009</td>
            <td>2012</td>
            <td>2013</td>
            <td>Yes</td>
            <td class="text-right">&dollar; 99,225</td>
            <td class="td-actions text-right">
              <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-single-02"></i>
              </button>
              <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-settings"></i>
              </button>
              <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-simple-remove"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td class="text-center">3</td>
            <td>John Elway</td>
            <td>2001</td>
            <td>2012</td>
            <td>2013</td>
            <td>Yes</td>
            <td class="text-right">&dollar; 459,241</td>
            <td class="td-actions text-right">
              <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-single-02"></i>
              </button>
              <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-settings"></i>
              </button>
              <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                <i class="tim-icons icon-simple-remove"></i>
                </button>
            </td>
        </tr>
      </tbody>
</table>

</div>
</div>
</div>
<!-- //////////////////////////// -->

<div class=" card">
  <div class=" card-header"><h3 class=" title">NFT </h3></div>
  <div class=" card-body">
<div>
  <table class="table">
        <thead>
            <tr>
                <th class="text-left">Media</th>
                <th class="text-left">NFT</th>
                <th class="text-left">Collection</th>
                <th class="text-left">Created On</th>
                <th class="text-left">For Sale</th>
                <th class="text-right">Last Price</th>
                <th class="text-right">Sale Price</th>
                <th></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink='/token/id/1'>
                <td>
                    <div class="img-container justify-content-center">
                        <img src="https://i.pinimg.com/originals/fa/41/b4/fa41b4b61fbe2bc402e98da71a9d7b34.png" width="30px" alt="...">
                    </div>
                    <small>click to enlarge/play</small>
                </td>
                <td class="td-name">
                    <p>Stupid Pony</p>
                    <br><small>by Creator Name</small>
                </td>
                <td>
                    Ponies
                </td>
                <td>
                    11/12/2021
                </td>
                <td class="">
                  No
                </td>
                <td class="td-number text-right">
                  $30000
                </td>
                <td class="td-number text-right">
                  NA
                </td>
                <td></td>
                <td>
                    <button>Buy</button>
                    <button>Sell</button>
                    <button>Favorite</button>
                </td>
            </tr>
        </tbody>

    </table>
  </div>
  <button>Close</button>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////// -->
  <div class="col">
    <div class="card h-100 shadow-sm" style="width: 20rem">

      <div class="card-header"><img class="imgsize"
          src="https://live.staticflickr.com/65535/51633352877_8852dea13b_w.jpg"/>
      </div>

      <div class="card-body">
        <h1 class="card-title">Offer Price:</h1>
        <h1 class="card-title">$4000</h1>
      </div>

      <div class="card-footer">
        <div class="text-center my-4">
          <a href="https://www.linkedin.com/in/caleb-gardner-1972b6211/">
          <button class="btn btn-danger" style="border-radius: 12px">
            Decline Offer
          </button></a>
        </div>
        <div class="text-center my-4">
          <a href="https://www.linkedin.com/in/caleb-gardner-1972b6211/">
          <button class="btn btn-success" style="border-radius: 12px">
           Accept Offer
          </button></a>
        </div>
      </div>

  <!-- //////////////////////////// -->

  <!-- <form *ngIf="!loggedIn()">
    <div class="form-group">
      <label for="name">New NFT's Name</label>
      <input type="text" class="form-control" id="id" placeholder="name" name="name" [(ngModel)]="newToken.name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Description" name="description" [(ngModel)]="newToken.description">
    </div>
    <div class="form-group">
      <label for="rarity">Rarity</label>
      <input type="text" class="form-control" id="rarity" placeholder="Rarity" name="rarity" [(ngModel)]="newToken.rarity">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" placeholder="0" name="price" [(ngModel)]="newToken.price">
    </div>
    <div class="form-group">
      <label for="releaseDate">Releases On </label>
      <input type="date" class="form-control" id="releaseDate" placeholder="" name="releaseDate" [(ngModel)]="newToken.releaseDate">
    </div>
    <div class="form-group">
      <label for="tokenLocation">Image URL</label>
      <input type="url" class="form-control" id="tokenLocation" placeholder="" name="tokenLocation" [(ngModel)]="newToken.tokenLocation">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>

  <button type="submit" class="btn-success btn-md" (click)="addToken(newToken)">Create New NFT</button> -->



<!-- </div>
</div>
</div> -->
