.tokens-container {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  margin: auto;
  flex-wrap: nowrap;
  gap: 1.5em;
  background: transparent;
}

app-token-card {
  margin: auto;
  overflow-wrap: normal;
}

.tokens-container:first-child {
  margin-left: .5em;
}


.tokens-container:last-child {
  margin-right: 2.5em;
}