@import "/org/src/scss/utils/variables";
@import "/org/src/scss/utils/mixins";

@include glass-effect(
  linear-gradient(135deg, rgba(199, 199, 199, 0.303) 0%, rgba(189, 189, 189, 0.443) 100%),
  linear-gradient(90deg, rgba(197, 197, 197, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
  linear-gradient(180deg, rgba(121, 121, 121, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
  radial-gradient(circle at center, rgba(106, 106, 106, 0.15), rgba(105, 105, 105, 0.15) 70%)
);
@include glass-border(
  linear-gradient(135deg, rgba(199, 199, 199, 0.303) 0%, rgba(189, 189, 189, 0.443) 100%),
  linear-gradient(90deg, rgba(197, 197, 197, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
  linear-gradient(180deg, rgba(121, 121, 121, 0.164) 0%, rgba(255, 255, 255, 0.124) 100%),
  radial-gradient(circle at center, rgba(106, 106, 106, 0.15), rgba(105, 105, 105, 0.15) 70%)
);

.button-wrapper {
  height: 8rem;
  width: 150px;
  position: relative;

  &:hover::before,
  &:hover::after {
    transition: none !important;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    opacity: 0.3;
    top: 51%;
    height: 1px;
    z-index: 4;
    width: 8em;
    transform: rotate(-67.5deg);
    filter: brightness(1.5);

    &:hover {
      transform: rotate(-67.5deg);
    }
  }

  &::after {
    background-color: lime;
    left: 38%;
  }

  &::before {
    background-color: #fcb045;
    left: -71%;
  }
}

// THE A TAGS FOR THE NAV LINKS
.nav-button {
  @include rel-top-left($top: -5%);
  @include basic-precise-font($align: center);
  @include responsive-font(1.2rem, 1.4rem, 320px, 1366px);
  @include full-wh-no-mrgpad;
  height: 120%;

  text-decoration: none;
  overflow: hidden;
  background-image: linear-gradient(85.69deg, rgba(71, 29, 144, 0.5) 1.1%, rgba(14, 14, 69, 0.5) 71.94%), linear-gradient(93.31deg, #833ab4 0%, #fd1d1d 53.39%, #fcb045 94.05%);

  transform: rotate(22.5deg) translate(-20px, 5px);
  filter: blur(0.01em) drop-shadow(0px 0px 1px $light-gray);
  transition: ease-out 0.6s;
  background-size: 200% 200%;
  animation: gradient 8s linear 10s infinite;
  opacity: 0.7;
  z-index: 4;

  &:hover {
    color: $text-primary-dark;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.01rem;
    transition: ease-out 0.5s;
    opacity: 1;
    filter: saturate(1.1) brightness(1.2);
  }

  .text-wrapper {
    width: 60%;
    height: auto;
    position: fixed;
    z-index: 3;
    color: $text-primary-dark;
    font-family: "Nunito";
    transform: rotate(-22.5deg) translate(2px, 68px);
  }

  .glass-wrapper {
    filter: blur(5px);
    opacity: 0.5;
  }

  &:hover .glass-wrapper {
    opacity: 0.3;
  }

  ::ng-deep .mdc-button__label {
    @include full-wh-no-mrgpad;
    display: block;
  }
}
